*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #F5F9FF 
  width: 100%
  max-width: 100%

.w245
  width 100%
  max-width 245px
  @media screen and (max-width: 600px)
    min-width 100% !important

.w100
  width 100%
.bgr
  background: #f5f9ff url(https://fsms.quadcode.com/storage/public/ci/1h/4r6gbu954ogkdu5g/banner-1.png) center top 70px no-repeat;
  background-size: 684px auto;
  @media screen and (max-width: 600px)
    background-size: 100% !important

body
  margin: 0 auto !important
  text-align: center !important
.vam
  vertical-align: middle !important
table.row.header
  background #f2f3f5
  height: 86px

.bg-side
  background:#181E2D
  border-radius: 10px

.pb28  
  padding-bottom: 28px

.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important

.brad-bot
  border-bottom-left-radius 3px !important
  border-bottom-right-radius 3px !important

table.body-2
  background: #141822
  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  border-bottom: 1px dashed #C0E3FE

.blue-color
  color #1836CE !important
  
.blue-span
  color #299EF6 

.yellow-span
  color #FAD44E !important

.blue-button
  background: #0173CA !important
  border-radius: 8px !important

.green-button
  background: #3DBB7F !important
.butt
  color #ffffff
  font-size 16px !important
  font-weight 700 !important
  text-transform: none !important
  padding: 17px 0 17px !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.arrow-block
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding 0 8px 0 4px

.blue-text-asset
  display: inline-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 25px
  letter-spacing: -0.25px
  color: #0081E3

.blue-small-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 24px
  text-align: center
  color: #33A6FE
  padding-bottom 4px

.icon
  float: none;
  display inline-block
  max-width 40px

.white-bg
  background: #ffffff
  border-radius: 16px

.subtitle
  color: #413E43
  font-size: 32px
  line-height: 42px
  font-family: Helvetica !important
  font-weight: 700
  @media screen and (max-width: 420px)
    font-size: 28px !important
    line-height: 36px !important 

.subtitle-2
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 34px
  color: #413E43
      
.hello
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  color: #413E43
  word-break: break-word
  
.title
  font-family: Helvetica !important
  color: #373437
  font-size: 48px
  line-height: 58px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 40px !important
    line-height: 50px !important
  @media screen and (max-width: 420px)
    font-size: 32px !important
    line-height: 45px !important 

.displ-flex
  display flex
  @media screen and (max-width: 600px)
    display block !important

.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 36px
  color: #27282D
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 32px !important

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important
.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 21px
  line-height: 24px
  color: #0081E3

.blue-min-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #0081E3
.green-text
  color: #21BB72 !important

.text
  font-family: Helvetica !important
  color: #262832
  font-size 16px
  font-weight 400
  line-height 24px

.link-blue
  color: #0081e3 !important

.text-icon
  font-family: Helvetica !important
  color: #262832
  font-size 26px
  font-weight 400
  line-height 26px

.text-blitz
  font-family: Helvetica !important
  color: #ffffff
  font-size 16px
  font-weight 400
  line-height 24px

.data-text
  font-family: Helvetica !important
  color: #0081E3
  font-size 12px
  font-weight 700
  line-height 24px
  text-transform uppercase
  text-align center

.data-blue
  border 2px solid #0081E3
  border-radius: 10px
  padding 4px 16px
  max-width: 265px

.fs18
    font-size 18px !important
.text-white
  color: #FFFFFF !important
.text.bold
  font-weight: 700

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text  
  font-family: Helvetica !important
  color #262832 !important

.footer-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #262832

.subscribe
  text-align: left !important
  padding-top: 20px


a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.div-8
  font-size 6px
  line-height 8px
  height 8px

.div-20
  font-size 8px
  line-height 20px
  height 20px

.div-12
  font-size 8px
  line-height 12px
  height 12px

.pb0
  padding-bottom: 0
.pb4
  padding-bottom: 4px
.pb10
  padding-bottom: 10px
.pb12
  padding-bottom: 12px
.pb13
  padding-bottom: 13px
.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb24
  padding-bottom: 24px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px

.pb40
  padding-bottom: 40px
.pb44
  padding-bottom: 44px
.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb70
  padding-bottom: 70px

.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0

.pt8
  padding-top 8px

.pb4
  padding-bottom 4px

.pb8
  padding-bottom 8px

.pt10
  padding-top: 10px

.pt12
  padding-top: 12px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt24
  padding-top: 24px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px
.pt44
  padding-top: 44px
.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px
.pt323
  padding-top 323px
  @media screen and (max-width: 600px)
    padding-top 263px !important
  @media screen and (max-width: 500px)
    padding-top 203px !important
  @media screen and (max-width: 420px)
    padding-top 192px !important
  @media screen and (max-width: 350px)
    padding-top 153px !important

.pt380
  padding-top: 380px
  @media screen and (max-width: 600px)
    padding-top: 300px !important
    
.plr20
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: 600px)
    padding-left: 0px !important
    padding-right: 0px !important

.plr50
  padding-left: 40px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr30
  padding-left: 60px
  padding-right: 60px
  @media screen and (max-width: 600px)
    padding-left: 10px !important
    padding-right: 10px !important
    
.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important

.under
  text-decoration: underline
.mob-center
  @media screen and (max-width: 600px)
    text-align center !important
.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important

.asset-color
  color #293753

.asset-block
  background #F3F8FF 
  padding 20px 20px !important
  border-radius 12px !important
  width: 440px
  @media screen and (max-width: 600px)
    width 100% !important

.blue-percent
  font-family: Helvetica !important
  font-weight: 700
  font-size: 40px
  line-height: 56px
  color: #0081E3

.left-block
  display inline-block
  width 230px
  vertical-align middle
  float:left
  @media screen and (max-width: 600px)
    float: none !important
    display block !important
    // width 100% !important
    margin 0 auto 15px !important

.right-block
  vertical-align middle
  display inline-block
  float: right 
  width 230px
  @media screen and (max-width: 600px)
    float: none !important
    display block !important
    margin 0 auto !important
    // width 100% !important

.link 
  text-decoration underline !important
  color #0081E3 !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 40px

.social-links
  display: block
  text-align: center
  margin 0 auto

.countries-block-new
  width 146px
  display: inline-block
  float: none
  vertical-align: top
  @media screen and (max-width: 600px)
    display block !important
    // width 230px !important
    margin 10px auto 0 !important

.countries-block-new.fisrt-block
  @media screen and (max-width: 600px)
    margin 0px auto 0 !important

.ig
  max-width 26px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 26px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 26px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important

table[class="overbody"] table.columns td.td-icon
  @media screen and (max-width: 600px)
    width: 30px !important
    padding-right: 15px !important

.banner 
  width: 100% !important
  max-width 480px !important
  margin 0 auto !important
  float: none !important
  display block !important
  background: #F5F9FF
  border-radius: 16px

.white-box
  background: #fcfdff; 
  border: 1px solid #33a6fe; 
  border-radius: 7px; 
  box-sizing: border-box; 
  color: #262832; 
  display: inline-block; 
  font-family: Helvetica !important; 
  font-size: 16px; 
  font-style: normal; 
  font-weight: 700; 
  line-height: 24px; 
  margin: 0; 
  padding: 6px 12px; 
  text-align: left;

.block-img
  float: none !important
  display block !important
  // margin-left 25px !important
  max-width: 230px !important

.mar-mob
  margin 0 16px

.mob-text
  @media screen and (max-width: 600px)
    font-size 18px !important
    line-height 24px !important

.background-arrow
  background url('https://fsms.quadcode.com/storage/public/cn/1p/e9i85cee2vclvdkg/arrow-1.png') top 50px center no-repeat
  background-size 186px
  @media screen and (max-width: 600px)
    background none !important
    background-size 0 !important

.blue-block
  padding 32px
  border-radius: 12px
  background: #F3F8FF
  @media screen and (max-width: 600px)
    padding 20px !important

.grey-block
  // padding 24px
  border-radius: 24px
  background: #F6F6F6

.stor
  width 380px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding-right 30px
  max-width 155px
  height 50px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    padding-right 0 !important
    float none !important
    margin-bottom 15px
    margin 0 auto !important
    padding-bottom 15px !important

.a-google
  display inline-block
  max-width 175px
  height 50px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important

.list-1
  padding-right 25px
  background-size 20px
  background url('https://fsms.quadcode.com/storage/public/cp/au/fgkds9kt1nhaukd0/icon-1.png') right center no-repeat

.list-2
  padding-right 25px
  background-size 20px
  background url('https://fsms.quadcode.com/storage/public/cp/au/fggr041vksckpjfg/icon-2.png') right center no-repeat

.list-3
  padding-right 25px
  background-size 18px
  background url('https://fsms.quadcode.com/storage/public/cp/au/fggr041vksckpjeg/icon-3.png') right center no-repeat