*
  font-family "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

body
  margin: 0 auto !important
  text-align: center !important

.bg-col
  background-color #F9F9F9

table.row.header
  background #F9F9F9
  height: 86px
.hello
  font-family: Helvetica !important
  font-weight: 700
  font-size: 22px
  line-height: 26px
  color: #373437
.purple-block
  background: #fbfcfb
  border-left: 4px solid #a0cf00
  border-radius: 3px
  padding: 24px 30px
  
.mg
  width 580px !important

.mar12-left
  margin-left: 12px

.mg-bot
  width 480px
  @media screen and (max-width: 600px)
    width 100% !important
.bg-head
  background: url('https://static.cdnpub.info/files/storage/public/60/dc/6ffc62f2c7d4h7c2i0/top__2_.png') top center no-repeat
  background-size: cover
  height: 267px
.bb
.mt10
  margin-top 10px
.bgr
  background: url('https://static.cdnpub.info/files/storage/public/5e/f6/06dee9e888c1d6g0f9/cpa_vs_revshare_background__1_.png') top center no-repeat
  background-size: cover
  height: 320px
  padding-top: 0
  @media screen and (max-width: 600px)
    height: auto !important
    min-height: 280px !important

table.body
  background: #F1F2F5

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto
*
  font-family "Verdana", "Roboto", "Helvetica", "Arial", sans-serif !important
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

html
  background: #F9F9F9

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  background #f2f3f5
  height: 86px

.brad-top
  border-top-left-radius: 6px !important
  border-top-right-radius: 6px !important
  overflow: hidden

.brad-bot
  border-bottom-left-radius 6px !important
  border-bottom-right-radius 6px !important
  overflow: hidden

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 30px 0 0 !important
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.footer-text
  color: #8C8C96 !important
  font-size: 13px !important
  font-family: Helvetica !important
  a
    font-size: 13px !important
    color: #8C8C96 !important
    font-family: Helvetica !important
    text-decoration: underline

.logo
  float: none
  max-width 150px
  padding-left: 0
  padding-top: 36px
  padding-bottom: 20px
  margin: 0 auto

.ramka
  border 1px solid #c5c5c5
  border-radius 5px
  margin: 0 30px

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

table.medium-button td
  background: #BCF200
  border-radius: 8px !important

table.medium-button-bot td
  background: #BCF200
  border-radius: 8px 

.butt
  font-family: Arial !important
  color #182200
  font-size 16px !important
  font-weight 700 !important
  border-radius: 8px 
  line-height: 20px
  letter-spacing: 0 !important
  padding: 15px 0 15px !important
  text-transform none

.radius
  border-radius: 8px 

.white-bg
  background: #ffffff

.br3
  border-radius 3px

.text
  font-family: Helvetica !important
  color: #373437
  font-size 16px
  font-weight 400
  line-height 26px
  letter-spacing: 0;

.min-text
  font-family: Helvetica !important
  font-size: 14px;
  color: #2E3851
  letter-spacing: 0;
  line-height: 22px;
.wh
  vertical-align middle
  width 32% !important
  padding 8px 0 !important

b
  font-family: Helvetica !important

.big-text
  font-weight 700 !important
  font-size 18px !important
  font-family: Helvetica !important

.subtitle
  font-family: Helvetica !important
  font-weight 700
  letter-spacing: 0
  font-size: 36px
  line-height: 48px
  color: #373437
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important

.subtitle-min
  font-family: Helvetica !important
  font-weight: 700
  font-size: 26px
  line-height: 26px
  color: #373437

.text.italic
  font-style: italic

.text.list
  display: list-item

.mb10
  margin-bottom: 10px

.address-text
  color: #333333 !important
  font-size: 14px !important

.pb0
  padding-bottom: 0 !important

.pb3
  padding-bottom: 3px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb13
  padding-bottom: 13px

.pb15
  padding-bottom: 16px !important
  
.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px

.pb20-mob
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom 0 !important

.pb23
  padding-bottom: 23px

.pb25
  padding-bottom: 24px

.pb26
  padding-bottom: 26px


.pb30
  padding-bottom: 30px

.pb36
  padding-bottom: 36px


.pb40
  padding-bottom: 40px

.pb40med
  padding-bottom: 40px
  @media screen and (max-width: 600px)
    padding-bottom 10px !important

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb67
  padding-bottom: 67px

.pb70
  padding-bottom: 70px

.pt0
  padding-top: 0 !important

.pt3
  padding-top: 3px

.pt4
  padding-top: 4px


.pt5
  padding-top: 5px

.pt10
  padding-top: 10px
.pt14
  padding-top: 14px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 24px


.pt29
  padding-top: 29px

.pt32
  padding-top: 32px

.pt17
  padding-top: 17px


.pt20-big
  padding-top: 20px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt30
  padding-top: 30px
.pt32
  padding-top: 32px
.pt37
  padding-top: 37px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px

.pt45med
  padding-top: 45px
  @media screen and (max-width: 600px)
    padding-top 0 !important

.pt50
  padding-top: 50px

.pt50-a
  padding-top: 10px
  @media screen and (max-width: 600px)
    padding-top 0 !important

.pt7
  padding-top 7px

.pt60
  padding-top: 60px

.pt70
  padding-top: 70px

.pt74
  padding-top: 74px

.pt164
  padding-top: 164px
.plr60
  padding-left: 60px
  padding-right: 60px
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.plr20
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important
.plr50
  padding-left: 50px
  padding-right: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr20-a
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr38
  padding-left: 38px
  padding-right: 38px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr30
  padding-left: 30px
  padding-right: 31px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plrS30
  padding-left: 30px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 100px !important
    padding-right: 50px !important

.plr40
  padding-left: 40px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl20
  padding-left: 20px

.under
  text-decoration: underline

.link-blue
  color #5165FF
  text-decoration underline

.border-top
  border-radius: 3px  3px 0 0

.border-bottom
  border-radius: 0 0 3px  3px

p.warning
  text-align: left
  color: #404042 !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #404042
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important
  line-height: 22px;

.address-text
  color: #404042!important
  font-size: 14px !important
  text-align: center


.mobile-paddding
  padding 20px 100px 0
  @media screen and (max-width: 600px)
    padding: 30px 20px 0 20px !important

div.address
  padding 20px 30px 0 30px !important

.brad-bot
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px

.padding
  @media screen and (max-width: 600px)
    padding 0 50px

.mobile-paddding
  padding 20px 50px 0
  //text-align: center
  @media screen and (max-width: 600px)
    padding: 20px 20px 0 20px !important

a.terms
  color: #474A50
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important
  text-decoration: underline
  display: inline-block
  margin: 0 10px



.socials
  display: block
  font-size: 0
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.first-link
  margin-left: 0
  @media screen and (max-width: 600px)
    margin-left: 10px !important

.last-link
  margin-right: 0
  @media screen and (max-width: 600px)
    margin-right: 10px !important

.soc-icon
  float: none
  max-width: 40px

.footer-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  line-height: 22px

.big
  font-weight 700

.soc-link
  display: inline-block
  float: none

.soc
  display: inline-block
  float: none
  max-width: 45px
.mar12
  margin: 0 12px

.bg-bord
  border: 1px solid #E9EBEA

.bg-bord-lr
  border-left 1px solid #E9EBEA
  border-right 1px solid #E9EBEA

.bg-bord-top
  border-top  1px solid #E9EBEA

.bg-bord-bot
  border-bottom  1px solid #E9EBEA

.br-full
  border-radius 8px

.br-top-lr
  border-radius 5px 5px
.bg-top-lr
  border-top 1px solid #E9EBEA
  border-lrft 1px solid #E9EBEA
  border-right  1px solid #E9EBEA

.br-top
  border-radius 8px 8px 0 0
.plr10
  padding-left 10px !important
  padding-right 10px !important
.br-bot
  border-radius 0 0 8px 8px

table.medium-button-two td
  background: #F4FAF8
  border-radius: 3px !important


.pt20-mob
  @media screen and (max-width: 600px)
    padding-top 20px

.text a
  font-family: Helvetica !important
  text-decoration underline !important
  color #86ad00 !important

.bg-bord-l
  border-left 1px solid #E9EBEA

.bg-bord-r
  border-right 1px solid #E9EBEA
.bg-bord-full
  border 1px solid #E9EBEA
.strong
  font-weight 700 !important

.ml30
  margin-left 40px

.bb
  border-bottom: 1px solid #DBE0D5
  
.a-link
  font-family: Helvetica !important
  text-decoration none !important
  color #01c689 !important

.social-links
  display: block
  text-align: center
