*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #F5F9FF 
  width: 100%
  max-width: 100%

.bgr-img
  background: url('https://fsms.quadcode.com/storage/public/ci/v4/23o3jov9srte6r3g/Container (2) (1).png') center no-repeat
  background-size: cover
.bgr-color
  background #041E3D 
.w245
  width 100%
  max-width 285px
  @media screen and (max-width: 600px)
    min-width 100% !important

.w100
  width 100%
.bgr
  @media screen and (max-width: 600px)
    background-size: 100% !important

body
  margin: 0 auto !important
  text-align: center !important
.vam
  vertical-align: middle !important
table.row.header
  background #f2f3f5
  height: 86px

.bg-side
  background:#181E2D
  border-radius: 10px

.pb28  
  padding-bottom: 28px

.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 10px !important
  border-top-right-radius: 10px !important
.brad-full
  border-radius: 10px
.brad-bot
  border-bottom-left-radius 10px !important
  border-bottom-right-radius 10px !important

.green-bg
  background #F4FAF8

.dark-bg  
  background #24262f
  border-radius: 10px
  border: 1px solid #3e4048

.border-bg-green
  border 1px solid #01C689
table.body-2
  background: #1D1E26
  
.list-item
  background: url('https://static.cdnpub.info/files/storage/public/5e/8d/aa6a28c720a9i1g3f9/Oval Copy 3.png') left 8px no-repeat
  background-size: 10px
  padding-left 20px
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  border-bottom: 10px solid #F1F2F5

.blue-color
  color #1836CE !important
.blue-span
  color #299EF6 

.button-wrapper_bot
  border-radius: 5px

.yellow-span
  color #FAD44E !important

.blue-button
  background: #0081E3 !important

.green-button
  background: #00BD72 !important

.butt
  color #ffffff
  font-size 16px !important
  font-weight 600 !important
  letter-spacing:  -0.25px !important
  text-transform: none !important
  padding: 17px 0 17px !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0


.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.arrow-block
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding 0 8px 0 4px

.blue-text-asset
  display: inline-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 25px
  letter-spacing: -0.25px
  color: #0081E3

.blue-small-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 24px
  text-align: center
  color: #33A6FE
  padding-bottom 4px

.whote-text  
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  text-align: center
  color: #FFFFFF

.icon
  float: none;
  display inline-block
  max-width 40px

.country-block 
  display: inline-block
  background: #1F3B50
  border: 1px solid #33A6FE
  border-radius: 7px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFFFFF
  padding: 4px 12px


.white-bg
  background: #ffffff
.blue-bg
  background #181E2D
.subtitle
  color: #FFFFFF
  font-size: 14px
  line-height: 17px
  text-transform: uppercase
  letter-spacing: 4px
  font-family: Helvetica !important
  font-weight: 400

.title
  font-family: Helvetica !important
  color: #FFFFFF
  font-size: 42px
  line-height: 50px
  font-weight: 700
  padding-top 317px
  padding-bottom 38px
  @media screen and (max-width: 600px)
    font-size: 34px !important
    line-height: 38px !important
    padding-top 267px !important
  @media screen and (max-width: 420px)
    font-size: 28px !important
    line-height: 32px !important 
    padding-top 187px !important

.yello
  color: #FEC24C !important

.title-blitz
  font-family: Helvetica !important
  font-weight: 700
  font-size: 26px
  line-height: 30px
  text-align: center
  color: #FFFFFF
  @media screen and (max-width: 600px)
    font-size: 22px !important
    line-height: 26px !important

.yell
  color: #FFAD00 !important


.span-blue
  color: #0081E3 !important
.green
  color: #22BB72!important 
.title-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 36px
  color: #ffffff
  @media screen and (max-width: 600px)
    font-size 28px !important
    line-height 32px !important
.title-white-ft
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #ffffff
  text-align center
  max-width: 380px;
  margin 0 auto
  @media screen and (max-width: 600px)
    font-size: 22px !important
    line-height: 26px !important
.displ-flex
  display flex
  @media screen and (max-width: 600px)
    display block !important

.block_21_00
  color: #0081E3 !important
.block_35_00
  color: #3EEC99 !important
.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 36px
  color: #27282D
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 32px !important
.list
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/54fc7b12f0j5f6b3h1/blue_dot.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px
.list-green
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/7813cb5ca8d0a4a9i8/blue_dot_2.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px  

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important
.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 21px
  line-height: 24px
  color: #0081E3

.blue-min-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #0081E3
.green-text
  color: #21BB72 !important
.hello-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 22px
  line-height: 26px
  color: #20242F

.text
  font-family: Helvetica !important
  color: #262832
  font-size 16px
  font-weight 400
  line-height 24px

.green
  font-weight: 700
  color: #2BC777

.red
  font-weight: 700
  color: #FB4547

.number
  background: #78A2DC
  border-radius: 3px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 26px
  color: #FFFFFF
  padding 1px 12px
  margin-right: 8px

.left-container 
  display inline-block
  width 130px
  padding-right 20px
  vertical-align: top
  @media screen and (max-width: 600px)
    margin 0 auto !important
    padding-right 0 !important
    padding-bottom 15px !important

.a-link
  text-decoration: underline
  color:#1483FF

.right-container
  display inline-block
  width 315px
  vertical-align: top
  padding-bottom 0px
  @media screen and (max-width: 600px)
    margin 0 auto !important
    width 100% !important

.first-link
  margin 0 !important

.text-blitz
  font-family: Helvetica !important
  color: #ffffff
  font-size 16px
  font-weight 400
  line-height 24px
  
.fs18
    font-size 18px !important
.text-white
  color: #FFFFFF !important
.text.bold
  font-weight: 700

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #293753 !important
  font-size: 14px !important
  text-align: left !important

.subscribe
  text-align: left !important
  padding-top: 20px


a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.div-8
  font-size 6px
  line-height 8px
  height 8px

.div-20
  font-size 8px
  line-height 8px
  height 8px
.div-36
  font-size 36px
  line-height 36px
  height 36px
.div-12
  font-size 8px
  line-height 12px
  height 12px

.pb0
  padding-bottom: 0
.pb2
  padding-bottom: 2px  
.pb4
  padding-bottom: 4px
.pb5
  padding-bottom: 5px  
.pb10
  padding-bottom: 10px
.pb13
  padding-bottom: 13px
.pb15
  padding-bottom: 15px !important

.pb20
  padding-bottom: 20px

.pb24
  padding-bottom: 24px

.pb25
  padding-bottom: 25px
.pb30
  padding-bottom: 30px
.pb35
  padding-bottom: 35px
.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px
.pb70
  padding-bottom: 70px

.pt0
  padding-top: 0

.pt8
  padding-top 8px

.pb4
  padding-bottom 4px

.pb8
  padding-bottom 8px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt24
  padding-top: 24px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px
  
.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px
.pt323
  padding-top 323px
  @media screen and (max-width: 600px)
    padding-top 263px !important
  @media screen and (max-width: 500px)
    padding-top 203px !important
  @media screen and (max-width: 420px)
    padding-top 192px !important
  @media screen and (max-width: 350px)
    padding-top 153px !important

.pt380
  padding-top: 380px
  @media screen and (max-width: 600px)
    padding-top: 300px !important
    
.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important
    
.plr10-a
  padding-left: 10px
  padding-right: 10px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important
.plr50
  padding-left: 50px
  padding-right: 50px

.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important

.under
  text-decoration: underline
.mob-center
  @media screen and (max-width: 600px)
    text-align center !important
.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important

.asset-color
  color #293753

.asset-block
  background #F3F8FF 
  padding 16px 20px !important
  border-radius 12px !important
  width: 440px
  @media screen and (max-width: 600px)
    width 100% !important

.blue-percent
  font-family: Helvetica !important
  font-weight: 700
  font-size: 40px
  line-height: 56px
  color: #0081E3

.left-block
  display inline-block
  padding-left 52px
  background-size 40px
  float:left
  @media screen and (max-width: 600px)
    float: none !important
    display block !important
    background-size 30px !important
    padding-left 42px !important
    // width 100% !important
.right-block
  display inline-block
  float: right 
  @media screen and (max-width: 600px)
    float: none !important
    display block !important
    // width 100% !important


.link 
  text-decoration none !important
  color #0081E3 !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align left !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 24px
  width 24px !important
  padding-right 16px 
  vertical-align: middle

.va-top
  vertical-align: top !important

.store-icon
  display: inline-block
  padding-right 6px
  padding-bottom 7px
  margin 0 !important

.app
  width 155px !important
  margin 0 !important

.google    
  width 175px !important
.plr10-a
  padding 0 10px
  @media screen and (max-width: 600px)
    padding 0 !important

.dot
  display: inline-block
  width 10px !important
  padding-top: 7px
  padding-right: 8px    

