p, span, b, div
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  font-family "Helvetica", "Arial", sans-serif !important

table.row.header
  background #01080d
  height: 86px
.bg-col
  background-color #01080d

u + .body .gmail-blend-screen { background: #000000; mix-blend-mode: screen; }
u + .body .gmail-blend-diff   { background: #000000; mix-blend-mode: difference; }

.stap
  display inline-block
  background: #401807
  border-radius: 10.2005px
  padding: 4px 12px
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #FF8516
ul
  margin 0
  padding 0 0 0 20px
.wb-bw
  word-break: break-word

.w290 
  max-width: 290px
  width 70%
  @media screen and (max-width: 600px) 
    width 100% !important
    max-width: 100% !important
    text-align: center !important


.ta-center
  @media screen and (max-width: 600px) 
    text-align: center !important
.bgr
  background-position top center
  background-repeat: no-repeat
  background-size: cover
  min-height: auto
  border-radius: 10px

.bg-img-bottom
  background url('https://fsms.quadcode.com/storage/public/d5/sq/h08ggnfnh4cs770g/welcome-bottom-img.png') center no-repeat
  background-size cover
  background-color: #101314
  @media screen and (max-width: 600px) 
    background #101314 !important

.list-item
  width 32px !important
  float none
.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    max-width 100% !important

.img-logo
  width 240px
  padding-top 32px
  padding-bottom 32px
  padding 14px 0
  margin 0 auto
  @media screen and (max-width: 600px)
    max-width: 240px !important

.under-img
  float: none
  background: #01080d
  border-radius: 24px
  
.hello
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  color: #2F3749
  word-break: break-word

.icon
  width 105px
  float none !important
  max-width: 105px !important


.pr60
  padding-right 60px !important


.brad-full
  border-radius 32px !important
.brad-full-32
  border-radius 32px !important
.brad-top
  border-radius 32px 32px 0 0!important

.brad-bot
  border-radius 0 0 32px 32px!important

table.body
  background: #01080d

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500
.logo
  float: none
  max-width 146px
  padding-top: 32px
  padding-bottom: 28px
  @media screen and (max-width: 600px)
    margin 0 auto !important

.footer
  background #F9F9F9
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px solid #3A3F40

table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.butt
  // background url('https://fsms.quadcode.com/storage/public/d0/i5/jmbjqakt70bn9jk0/blitz-buttom.png') center no-repeat
  background-size cover
  background-color #FF5500
  font-size 18px !important
  font-weight 700 !important
  border-radius: 16px !important
  text-transform: none
  font-family: Helvetica !important
  height auto

.butt-2
  background none !important
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto
  border: 2px solid #FF5500
  
.left-button
  width 230px
  display inline-block
  @media screen and (max-width: 600px)
    width 100% !important
    padding-bottom 20px !important


.right-button
  width 230px
  display inline-block
  float: right 
  @media screen and (max-width: 600px)
    width 100% !important
    float none !important

.butt-link-2
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #F9F9F9
  display block
  line-height 27px
  padding: 14px 0 14px
  text-align center
  letter-spacing 0px

.butt-link
  font-size 18px
  line-height 27px
  font-weight 700
  text-transform none
  text-decoration: none
  color #F9F9F9
  display block
  padding: 16px 0 16px
  text-align center
  letter-spacing 0px

.smal-button-left
  display inline-block
  width 205px
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 100% !important

.smal-button-right
  display inline-block
  width 205px
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 100% !important

.butt-link-middle
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #FF5500
  display block
  line-height 27px
  padding: 16px 22px
  text-align center
  letter-spacing 0px
  

.butt-small
  font-size 18px !important
  font-weight 700 !important
  text-transform: none
  font-family: Helvetica !important
  height auto
  background: #21150f !important
  border: 1px dashed #FF5500
  border-radius: 16px !important

.arrows-horisontal
  display inline-block
  width 36px
  vertical-align: middle
  padding 0 4px 0 8px
  float: none
  @media screen and (max-width: 600px)
    width 1px !important
    max-width: 0.1px !important
    padding 0 !important
    display block !important

.arrows-vert
  display inline-block
  width 1px
  max-width: 0.1px
  float: none
  @media screen and (max-width: 600px)
    width 36px !important
    max-width: 36px !important
    padding 12px 0 8px 0 !important
    margin 0 auto !important
    display block !important

.butt-link-small
  font-size 18px
  line-height 27px
  font-weight 700
  text-transform none
  text-decoration: none
  color #F9F9F9
  display block
  padding: 18px 0 19px
  text-align center
  letter-spacing 0px

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.color-bg
  background-color: #101314

.blue-bg
  background: #f8fbff

.img-head
  width 480px
  padding-bottom 35px

.white-title
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 48px
  line-height: 58px
  color: #F9F9F9
  word-break: break-word
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 32px !important

.middle-title
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #ECECED
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 32px !important
.out-wrapper
  padding 0 10px
  @media screen and (max-width: 600px)
    padding 0 !important
.white-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #FFFFFF

.header-container
  max-width: 60%
  @media screen and (max-width: 600px)
    max-width: 70% !important

.text
  font-family: Helvetica !important
  font-size: 18px
  color: #393A44 
  letter-spacing: 0
  line-height: 26px
  font-weight 400

.note-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 21px
  color: #474A51


.text-2
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #ECECED

.grey-number
  font-family: Helvetica !important
  font-size: 12px;
  color: #827d7d
  letter-spacing: 0;
  padding-bottom 14px
  line-height 14px

.big-text
  font-family: Helvetica !important
  font-weight 700
  font-size: 36px
  color: #2D323E
  letter-spacing: 0
  line-height 37px
  text-align center
  padding-bottom 15px
  @media screen and (max-width: 600px)
    padding-right 0 !important
    font-size: 28px !important
    line-height 33px !important


.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #DDDDDD
  letter-spacing: 0
  text-align: center
  line-height: 22px

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #DDDDDD
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #DDDDDD
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important

.custom-padding 
  white-space: nowrap
  padding-left 10px

.pb0
  padding-bottom: 0 !important

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb6
  padding-bottom: 6px

.pb7
  padding-bottom: 7px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb11
  padding-bottom: 11px
  @media screen and (max-width: 600px)
    padding-bottom 5px !important

.pb12
  padding-bottom: 12px !important

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px

.pb16
  padding-bottom: 16px

.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px
.pb24
  padding-bottom: 24px
.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px
.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb36
  padding-bottom: 36px
.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px
.pb56
  padding-bottom: 56px
.pb60
  padding-bottom: 60px
.pb68
  padding-bottom: 68px
.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt6
  padding-top: 6px

.pt10
  padding-top: 10px

.pt12
  padding-top: 12px

.pt15
  padding-top: 15px
.pt16
  padding-top: 16px
.pt17
  padding-top: 17px

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt20
  padding-top: 20px
.pt22
  padding-top: 22px
.pt24
  padding-top: 24px


.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px
.pt36
  padding-top: 36px
.pt40
  padding-top: 40px

.pt44
  padding-top: 44px
.pt42
  padding-top: 42px


.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pt60
  padding-top: 60px
.pt68
  padding-top: 68px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.ml0
  margin-left 0
  @media screen and (max-width: 600px)
    margin-left 10px !important
.mr0
  margin-right 0
  @media screen and (max-width: 600px)
    margin-right 10px !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 10px !important
    padding-right: 10px !important

.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0


.ig
  max-width 20px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 24px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important

table[class="overbody"] table.columns td.td-icon
  @media screen and (max-width: 600px)
    width: 30px !important
    padding-right: 15px !important

table[class="body"] table.columns td.bbb,
table[class="body"] table.columns td.bb1
  @media screen and (max-width: 600px)
    width: auto !important

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #DDDDDD !important
  letter-spacing: 0
  line-height: 22px

.social-links
  display: block
  text-align: center


.col-black
  color #000000 !important

.mar-mob
  margin 0 10px
.h-8
  font-size 8px
  line-height 8px
  height 8px
.h-12
  font-size 8px
  line-height 12px
  height 12px

.h-16
  font-size 8px
  line-height 16px
  height 16px

.h-20
  font-size 8px
  line-height 20px
  height 20px
.h-24
  font-size 8px
  line-height 24px
  height 24px
.h-28
  font-size 8px
  line-height 28px
  height 28px

.h-30
  font-size 8px
  line-height 30px
  height 30px
.h-32
  font-size 8px
  line-height 32px
  height 32px
.h-40
  font-size 8px
  line-height 40px
  height 40px


.stor
  width 100% !important
  max-width: 450px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important


.a-app
  display inline-block
  padding 0 15px
  max-width 140px
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important
    padding-bottom 15px !important

.a-google
  display inline-block
  max-width 168px
  padding 0 15px
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none !important
  max-width: 24px

table[class="body"] table.column td, table[class="body"] table.columns td.mob-td
  @media screen and (max-width: 600px)
    background-size: 25px !important
    padding-left: 33px !important


.promo-text-foot
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 21px
  color: #474A51

.left-block
  display inline-block
  width 49%
  vertical-align: top
  @media screen and (max-width: 600px)
    float none !important
    display block  !important
    width 100% !important

.right-block
  display inline-block
  width 49%
  vertical-align: top
  text-align: right 
  @media screen and (max-width: 600px)
    float none !important
    display block  !important
    width 100% !important

table[class="body"] table.columns td.plr1,
table[class="body"] table.columns td.plr2,
table[class="body"] table.columns td.plr3
  @media screen and (max-width: 600px)
    width auto !important

.grey-text.mob-text
  @media screen and (max-width: 600px)
    font-size 17px !important

.mob-center
  @media screen and (max-width: 600px)
    text-align center !important

table[class="body"] table.columns td.auto
  width auto !important

table[class="body"] table.columns td.w74
  width 74px !important

.w-a
  width auto !important
  vertical-align: middle

.number
  background #1A1D1E
  width: 54px
  max-height: 54px
  border-radius: 16px
  // border: 2px solid #FF7700
  font-family: Helvetica !important
  color: #ECECED
  font-weight: 700
  font-size: 24px
  line-height: 24px
  padding 15px 0
  text-align: center

.w-a
  width auto !important
  vertical-align: middle

table[class=body] table.column td, table[class=body] table.columns td.m-w
  min-width: 78px !important
  width 78px !important

table[class=body] table.columns td.m-w2
  min-width: 152px
  width 152px
  @media screen and (max-width: 600px)
    min-width 120px !important
    width 120px !important


.white-block2
  padding 65px 28px
  @media screen and (max-width: 600px)
    padding 200px 28px 24px !important

.w250
  max-width 220px
  @media screen and (max-width: 600px)
    max-width 100% !important
    padding-top 130px !important


.padd-block
  padding 24px 32px
  @media screen and (max-width: 600px)
    padding 16px 20px !important


.center-mob
  @media screen and (max-width: 600px)
    display block !important
    text-align: center !important
    margin 0 auto !important

.mob-pt20
  padding-top 20px
  @media screen and (max-width: 600px)
    padding-top 0 !important

.fat-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #ECECED
  @media screen and (max-width: 600px)
    font-size: 18px !important
    line-height: 26px !important
.gray-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #A6A6AB
