
FOOTER
.left
  text-align left

.mobile-paddding
  padding 30px 0 0 0
  @media screen and (max-width: 600px)
    padding: 30px 20px 0 20px !important;

.ramka
  border 2px solid #edf0f7
  margin 0 50px 0 50px
  @media screen and (max-width: 600px)
    margin 0  !important

.light
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  font-size 10px
  color #e5e9f4

#font
  font-size 10px
  color #e5e9f4

.subscribe
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  text-decoration none !important
  color #626a7f !important
  font-size 14px
  text-align center
  margin 0
  padding-top 10px
  font-weight 300

p
  &.discription
    font-family "Roboto", "Helvetica", "Arial", sans-serif
    font-size 14px
    color #edf0f7 !important
    text-decoration none !important
    text-align center
    line-height 1.3em
    padding 15px
    margin 0
    font-weight 300

.footer-background
  background #1b202e

.line
  border-top 1px solid #ffffff

div.address
  padding 20px 30px 0 30px !important

.address-text
  font-size 13px
  color #ffffff !important
  text-decoration none !important
  text-align center
  line-height 1.5em
  margin 0