*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px


table.row.header
  background #f6f9fc url('https://images01.iqoption.com/01/5201/static-00115704862028595201.png') center top no-repeat
  height: 113px

table.body
  background: #f6f9fc

.center
  text-align: center

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.logo
  max-width 134px
  padding-left: 50px
  padding-top: 32px
  padding-bottom: 30px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    float: none !important
    text-align: center !important
    margin: 0 auto !important

.app_btn
  width: 116px
  height: 34px
  padding-top: 30px

.ramka
  border 1px solid #c5c5c5
  border-radius 5px
  margin: 0 30px

.subscribe
  color: #a6a6a6 !important

.subscribe a#font, .subscribe a.light
  color: #a6a6a6 !important

.footer
  background: #f6f9fc
  padding-bottom: 30px
  
table.medium-button td
  background: #2c89df

.butt
  font-size: 13px
  color: #ffffff
  text-transform: none
  letter-spacing: 0
  padding-top: 15px
  border-bottom: 2px solid #0584c7
  border-radius: 4px

.button-wrapper
  padding-top: 25px
  padding-bottom: 0px
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important
    
.white-bg
  background: #ffffff

.title
  color #2473d7
  font-size 24px
  font-weight 500
  line-height 32px
  padding-top: 30px
  padding-bottom: 25px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text
  color #5b6e88
  font-size 16px
  font-weight 400
  line-height 24px
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text a
  color #2473d7
  text-decoration: underline


.asterisk
  color #5b6e88
  font-size 14px
  font-weight 400
  line-height 22px
  padding-bottom: 20px

.text.bold
  font-weight: 700

p.discription
  text-align: left
  color: #a6a6a6 !important
  padding: 19px
  font-size: 12px
  line-height: 16px

p.discription .upper
  color #a6a6a6
  font-size 15px
  font-weight 500
  text-align: left
  text-transform: none
  padding-bottom: 10px
  display: block

.address-text
  color #a6a6a6 !important
  
.footer
  background: #ffffff

.pb0
  padding-bottom: 0

.pb20
  padding-bottom: 20px

.list
  display: list-item
  padding-left: 20px
  list-style: decimal
  list-style-position inside
  padding-bottom: 10px
