*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #F5F9FF 
  width: 100%
  max-width: 100%

body
  margin: 0 auto !important
  text-align: center !important
.vam
  vertical-align: middle !important
table.row.header
  background #f2f3f5
  height: 86px


.left-side 
  display: inline-block
  width 130px
  vertical-align: middle
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    padding-bottom 15px !important

.l
  width 46% !important

.r
  width 55% !important

.left-images
  width 130px !important
  //box-shadow: 8.20931px 12.314px 17.7868px rgba(0, 0, 0, 0.09);
  
.middle
  vertical-align: middle

.right-side
  display: inline-block
  max-width: 325px
  vertical-align: middle
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important

.big-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 37px
  color: #293753
  @media screen and (max-width: 600px)
    font-size: 22px
    line-height: 27px
    padding 20px !important

.padd-text-three
  padding-left: 26px
  @media screen and (max-width: 600px)
     padding 0 !important

.padd-text-two
  padding 63px 52px 64px 30px
  @media screen and (max-width: 600px)
    padding 20px !important

.left-block
  display: inline-block
  width 267px 
  vertical-align: top
  background: #488BEE
  float left
  min-height 255px
  @media screen and (max-width: 600px)
    float none !important
    min-height auto !important
    display block !important
    width 267px !important
    margin 0 auto !important

.title-bottom-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 21px
  line-height: 24px
  color: #293753
  padding-bottom 18px

.number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 36px
  line-height: 44px
  letter-spacing: -0.354378px
  color: #FFFFFF
  padding-top 21px
  padding-bottom 17px
  padding-left 24px
  padding-right 10px
.padding-bottoim-block 
  padding 34px 43px 30px 30px
  @media screen and (max-width: 600px)
    padding 25px !important

.right-block
  display: inline-block
  width 312px
  vertical-align: top
  background: #E2EBFF
  float left
  min-height 255px
  @media screen and (max-width: 600px)
    float none !important
    min-height auto !important
    display block !important
    width 100% !important
    min-height auto !important
    height auto !important
.left
  display: inline-block
  min-width 130px
  padding-bottom 18px
.right
  display: inline-block
  padding-bottom 18px
.right-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 18px
  color: #293753
  padding-bottom 4px

.right-number  
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 37px
  color: #293753
.green
  color: #2BC777 !important

.item-link
  font-family: Helvetica !important
  font-size: 14px
  color: #0081E3
  letter-spacing: 0.1em
  font-weight: 700
  line-height: 24px
  text-transform: uppercase
  display: block

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 7px
  vertical-align: middle
.pb52
  padding-bottom: 52px
  @media screen and (max-width: 600px)
    padding-bottom: 28px !important

.pb28  
  padding-bottom: 28px  

.card-img
  display block
  width 50px !important

.card-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #FFFFFF

.card-text 
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #FFFFFF

.card-padding
  padding 25px 20px

.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important

.brad-bot
  border-bottom-left-radius 3px !important
  border-bottom-right-radius 3px !important

table.body-2
  background: #141822
  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  border-bottom: 10px solid #F1F2F5

.blue-button
  background: #0081E3 !important
.green-button
  background: #3DBB7F !important
.butt
  color #ffffff
  font-size 16px !important
  font-weight 600 !important
  letter-spacing:  -0.25px !important
  text-transform: none !important
  padding: 17px 0 17px !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.white-bg
  background: #ffffff

.subtitle
  color: #FFFFFF
  font-size: 14px
  line-height: 17px
  text-transform: uppercase
  letter-spacing: 4px
  font-family: Helvetica !important
  font-weight: 400

.title
  font-family: Helvetica !important
  color: #293753
  font-size: 38px
  line-height: 46px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important

.small-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #262832
.blue-box
  background #F3F8FF
  padding 24px

.white-box
  display: inline-block
  box-sizing: border-box
  padding: 6px 12px
  gap: 10px
  background: #FCFDFF
  border: 1px solid #33A6FE
  border-radius: 7px
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  text-align: center
  color: #262832

.title-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 48px
  color: #ffffff
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important

.black-title    
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 37px
  color: #27282D
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.blue
  background #0081E3

.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #262832
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important

.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 21px
  line-height: 24px
  color: #0081E3

.blue-min-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #0081E3
.green-text
  color: #21BB72 !important

.text
  font-family: Helvetica !important
  color: #262832
  font-size 16px
  font-weight 400
  line-height 24px

.left-line
  padding-left 20px
  border-left: 2px solid #428EFF  

.text-white
  color: #FFFFFF !important
.text.bold
  font-weight: 700

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #293753 !important
  font-size: 14px !important
  text-align: left
  line-height: 21px

.subscribe
  text-align: left !important
  padding-top: 20px
.big-text-footer
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #293753
  @media screen and (max-width: 600px)
    text-align: center !important
    font-size: 22px !important
    line-height: 30px !important

a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  padding-right 30px
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left 
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.pb0
  padding-bottom: 0
.pb4
  padding-bottom: 4px
.pb10
  padding-bottom: 10px
.pb12
  padding-bottom: 12px
.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px  

.pb28
  padding-bottom: 28px

.pt12
  padding-top 12px

.pb24
  padding-bottom 24px

.pb30
  padding-bottom: 30px
.pb35
  padding-bottom: 35px
.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px
  
.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px
.ta-l
  text-align: left
.fl-r
  float: right  
.pt50
  padding-top: 50px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr15
  padding-left: 15px
  padding-right: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important

.plr50
  padding-left: 50px
  padding-right: 50px

.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important


.under
  text-decoration: underline

.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important

.social-links
  display: block
  text-align: center

.countries-block-new
  width 148px
  background: #D7E4FF
  display: inline-block
  float: none
  border-radius: 3px
  min-height: 169px
  vertical-align: top
  @media screen and (max-width: 600px)
    margin-top 10px !important

.padding
  padding 18px 

.item-number-new
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 18px
  color: #3E414B
  padding-bottom 4px
  @media screen and (max-width: 600px)
    padding-bottom 4px !important

.item-number-new b
  font-weight: 400 !important

.grey-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 37px
  color: #3E414B
.grey-number-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 21px
  color: #3E414B

.icon-block
  width 36px !important
  padding-bottom 12px
  display block

.mar-mob
  margin 0 10px  

.left-img
  margin-top 23px

.app-store
  display inline-block
  width 155px !important
  padding-right 20px
  padding-bottom 10px

.google-store  
  display inline-block
  width 175px !important
  padding-bottom 10px


.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 40px

.ig
  max-width 24px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 24px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 24px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important