table.row
    tr
        td.offset-by-two
            table.eight.columns
                tr
                    td.no-padding-bottom
                        div.wrapper-button
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="https://iqoption.com/tournaments/677?aff=7&afftrack=mail&retrack=ws_revolt") ${{ button.cta.butt }}$