table.row.footer.bg-col
    tr
        td.pb30
            table.twelve.columns
                tr
                    td
                        .mobile-paddding
                            p.address-text {{embedded.company_address}}
                            //- p.warning.pt20.center
                            //-     b(style="text-transform: uppercase;") ${{ btc-halving.block_12 }}$ <br> 
                            //-     |${{ btc-halving.block_13 }}$
                            p.warning.pt20 {{embedded.risk_warning}}
                            p.subscribe
                                a.left(href='{{embedded.company_terms_link}}')  ${{ footer.footer.conditions }}$
                                a.right(href='{{embedded.unsubscribe_link}}')  ${{ footer.footer.unsubscribe }}$
