p, span, b, div
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  font-family "Helvetica", "Arial", sans-serif !important

table.row.header
  background #f2f3f5
  height: 86px

.bgr
  background-position top center
  background-repeat: no-repeat
  background-size: cover
  min-height: auto
  border-radius: 10px


.bgr-image
  background url('https://fsms.quadcode.com/storage/public/cv/3h/6qpmsj7jlq1dg9hg/casa-digest-top.png') center no-repeat
  background-size cover
  background-color: #ffffff
.bgr-image-bottom
  background url('https://fsms.quadcode.com/storage/public/cv/40/ak1msj7jlq1dg9jg/Banner-bottom.png') center no-repeat
  background-size cover
  background-color: #ffffff



.brad-full
  border-radius 16px !important

.brad-top
  border-radius 10px 10px 0 0!important

.brad-bot
  border-radius 0 0 10px 10px!important

table.body
  background: #F1F2F5

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  float: none
  max-width 156px
  padding-top: 32px
  padding-bottom: 44px
  @media screen and (max-width: 600px)
    margin 0 auto !important

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px dashed #C7C8CB

table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.butt
  background #8245EB
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto

.butt-2
  background none !important
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto
  border: 2px solid #8245EB

.butt-link-2
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #2F3749
  display block
  line-height 27px
  padding: 16px 0 16px
  text-align center
  letter-spacing 0px

.butt-link
  font-size 18px
  line-height 27px
  font-weight 700
  text-transform none
  text-decoration: none
  color #F7F7FC
  display block
  padding: 16px 0 16px
  text-align center
  letter-spacing 0px

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.button-wrapper_top table.medium-button td
  background: #8245EB

.button-wrapper_bot table.medium-button td
  background: #8245EB

.white-bg
  background: #ffffff

.blue-bg
  background: #f8fbff

.data
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #2F3749
  vertical-align: middle
.data-img
  display: inline-block
  width 24px !important
  padding-right 8px
  vertical-align: top
  float none

.title
  font-family: Helvetica !important
  font-weight 700
  font-size: 48px
  color: #3E3752
  line-height 58px
  @media screen and (max-width: 600px)
    font-size 26px !important
    line-height 32px !important
.subtitle
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #3E3752
  @media screen and (max-width: 600px)
    font-size 20px !important
    line-height 28px !important



.under-img
  float: none
  width 480px
  background: #F7F7FC
  border-radius: 16px

.middle-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #3E3752
  @media screen and (max-width: 600px)
    font-size 24px !important
    line-height 32px !important


.small-title 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #2F3749
  @media screen and (max-width: 600px)
    font-size 20px !important
    line-height 28px !important

ul
  margin 0 
  padding: 0
  padding-left 28px

.blue-block
  padding: 32px
  background: #F7F7FC
  border-radius: 20px
  @media screen and (max-width: 600px)
    padding: 20px !important

.strong-blue-block
  background: #E1D9FB
  border-radius: 20px
  @media screen and (max-width: 600px)
    padding: 0 !important

.pd24
  padding 24px 
  @media screen and (max-width: 600px)
    padding 16px !important

.text
  font-family: Helvetica !important
  font-size: 18px
  color: #3E3752
  letter-spacing: 0
  line-height: 27px

ul
  margin 0

.small-dot
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #3E3752

.pl15
  padding-left 15px
.pr10
  padding-right 10px

.pr100
  padding-right 100px

.big
  font-weight 700

.text.bold
  font-weight: 700

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: center
  line-height: 22px

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important

.custom-padding 
  white-space: nowrap
  padding-left 10px

.pb0
  padding-bottom: 0

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px
.pb8
  padding-bottom: 10px
.pb10
  padding-bottom: 8px

.pb11
  padding-bottom: 11px

.pb12
  padding-bottom: 12px !important

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px

.pb16
  padding-bottom: 16px

.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px
.pb24
  padding-bottom: 24px
.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px
.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt12
  padding-top: 12px

.pt15
  padding-top: 15px
.pt16
  padding-top: 16px
.pt17
  padding-top: 17px

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt20
  padding-top: 20px
.pt22
  padding-top: 22px
.pt24
  padding-top: 24px


.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px
.pt36
  padding-top: 36px
.pt40
  padding-top: 40px

.pt44
  padding-top: 44px
.pt42
  padding-top: 42px


.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pt60
  padding-top: 60px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.ml0
  margin-left 0
  @media screen and (max-width: 600px)
    margin-left 10px !important
.mr0
  margin-right 0
  @media screen and (max-width: 600px)
    margin-right 10px !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important
.plr60
  padding-left: 60px
  padding-right: 60px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important
.plr10
  padding-left: 10px
  padding-right: 10px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important
.pr10
  padding-right: 10px

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0

.bg-col
  background-color #F7F7FC

.pad-title
  padding 0 8px 20px 31px
  @media screen and (max-width: 600px)
    padding 0 !important
    text-align center !important

.pl30
  padding-left 30px

.wh500
  width 500px

.pr100
  padding-right 108px

.pb33
  padding-bottom 33px !important

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  text-align: center
  @media screen and (max-width: 600px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 24px

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px

.pr50
  padding-right 50px !important

.pr30
  @media screen and (max-width: 600px)
    padding-right 30px !important

.social-links
  display: block
  text-align: center


.bg-red
  background #FDF4F4
  background-size 20px

.bg-green
  background #EFF8F4
  background-size 20px

.bg-grey
  background #F6F6F6
  border-radius: 24px

.mb40
  margin-bottom 40px

.pt1
  padding-top 1px !important

.item-new
  font-family: Helvetica !important
  font-weight 700
  font-size: 19px;
  color: #454141;
  letter-spacing: 0;
  line-height: 29px
  clear: both !important
.pt13
  padding-top: 13px
.pl25
  padding-left 25px !important


.pr7
  padding-right 7px !important


.pr5
  padding-right 5px
  @media screen and (max-width: 600px)
    padding-right 0 !important


.pr55
  padding-right 55px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.col-vhite
  color #FFFFFF !important
  font-weight 400 !important

.pr24
  padding-right 24px

.pr27
  padding-right 27

.fl-l
  float left
  @media screen and (max-width: 600px)
    float none !important
    margin 0 auto !important
    text-align center
.fl-r
  float right

.pta
  @media screen and (max-width: 600px)
    padding-top 20px !important
    display block !important
.cl-b
  clear both

.col-black
  color #000000 !important

.arr-bot-t
  width  15px !important
  padding-left 14px
  padding-bottom 23px
  padding-right 10px
  vertical-align: middle
  float none
  display: inline-block
.item-number 
  display: inline-block

.item-number-new
  font-family: Helvetica !important
  font-size: 14px;
  color: #454141;
  letter-spacing: 0;


.number-red
  color #E95F5F !important

.number-green
  color #22BA79 !important

.pt19
  padding-top 19px

.link
  color: #4882ff  


.red-but
  display inline-block
  background: #F9E4E4
  border-radius: 5px
  max-width 100%
  width 100%
  @media screen and (max-width: 600px)
    width 100% !important
    max-width 100% !important

.red-txt
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #E95F5F
  letter-spacing: 1px
  text-align: center
  line-height 16px
  padding 7px 0 
  display block
.padding
  padding 14px 20px

.mar-mob
  margin 0 10px
.h-8
  font-size 8px
  line-height 8px
  height 8px
.h-12
  font-size 8px
  line-height 12px
  height 12px

.h-16
  font-size 8px
  line-height 16px
  height 16px

.h-20
  font-size 8px
  line-height 20px
  height 20px

.h-30
  font-size 8px
  line-height 30px
  height 30px

.h-40
  font-size 8px
  line-height 40px
  height 40px

.div-butt
  display inline-block
  width 148px
  background #0081E3
  border-radius: 5px
  // float none
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    margin-bottom 20px !important


.center-block 
  margin: 0 10px
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    margin: 0px 0px 20px 0px !important   

.butt-p
  color #ffffff
  font-size 12px !important
  font-weight 700 !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 16px 2px !important
  font-family: Helvetica !important
  text-align center !important

.green-span
  display inline-block
  font-family: Helvetica !important
  color: #2D323E
  padding: 6px 15px
  background #7FE589
  border-radius: 55px

.blue-span
  display inline-block
  font-family: Helvetica !important
  color: #ffffff
  padding: 6px 15px
  background #8245EB
  border-radius: 55px

.yellow-span
  display inline-block
  font-family: Helvetica !important
  color: #2D323E
  padding: 6px 15px
  background #FEC900
  border-radius: 55px

.pink-span
  display inline-block
  font-family: Helvetica !important
  color: #ffffff
  padding: 6px 15px
  background #9B74FF
  border-radius: 55px

.black-span
  display inline-block
  font-family: Helvetica !important
  color: #00DE3F
  padding: 6px 15px
  background #2D323E
  border-radius: 55px

.event-span
  display inline-block
  font-family: Helvetica !important
  color: #2D323E
  padding: 6px 15px
  background #FE956B
  border-radius: 55px

.price-span
  display inline-block
  font-family: Helvetica !important
  font-size: 16px !important
  line-height 22px

.green-price
  color #13CA72 !important

.red-price 
  color #E95F5F !important

.big-price
  font-family: Helvetica !important
  font-size: 22px
  line-height: 26px
  padding-bottom 5px
  font-weight 700

.price-text
  font-family: Helvetica !important
  font-size: 15px
  line-height: 20px

.btn-img
  width 100% !important
  max-width 480px !important
  float none !important
  margin 0 auto !important

.date
  font-family Helvetica !important
  font-weight: 400
  color #8981A5
  font-size 16px
  line-height 24px 

.date-img
  float: none
  display: inline-block
  width 16px !important
  padding-right 4px
  vertical-align: top
  padding-top 3px

.event-text
  color #1C253B
  font-size 18px
  line-height 24px
  font-weight 700
  font-family Helvetica !important

.stor
  width 361px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding-right 30px
  max-width 120px
  height 40px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    padding-right 0 !important
    float none !important
    margin-bottom 15px
    margin 0 auto !important
    padding-bottom 15px !important

.a-google
  display inline-block
  max-width 135px
  height 40px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none !important
  max-width: 24px

.arrow-icon
  float: none !important
  display: inline-block
  vertical-align: middle
  max-width: 6px
  padding-left: 5px
  padding-bottom 3px

.blue-link
  display block
  font-size 14px
  line-height 16px
  font-weight 700
  text-transform uppercase
  text-decoration none !important
  color #4882FF !important
  text-align center !important


.new-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica','Arial',sans-serif !important; 
  max-width: 20px; 
  outline: none; 
  padding-right: 5px; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  padding-bottom 2px

table[class="body"] table.column td, table[class="body"] table.columns td.mob-td
  @media screen and (max-width: 600px)
    background-size: 25px !important
    padding-left: 33px !important

.orange-box
  padding 24px 32px
  background #FFEFE0
  border-radius 16px
  @media screen and (max-width: 600px)
    padding 20px !important

.grey-box
  padding 24px
  background #F7F7FC
  border-radius 24px
  @media screen and (max-width: 600px)
    padding 20px !important

.orange-block
  padding: 24px 32px
  background: #FFEFE0
  border-radius: 16px

.icon-1
  background url('https://fsms.quadcode.com/storage/public/co/l8/7esds9kt1nhaufc0/icon-1.png') right top 2px no-repeat
  background-size 24px
  padding-right 30px

.icon-2
  background url('https://fsms.quadcode.com/storage/public/co/l8/7eor041mr5po6l0g/icon-2.png') right top 2px no-repeat
  background-size 24px
  padding-right 30px

.icon-3
  background url('https://fsms.quadcode.com/storage/public/co/l8/7esds9kt1nhaufd0/icon-3.png') right top 2px no-repeat
  background-size 24px
  padding-right 30px

.padding-box
    padding 24px 20px 24px 32px

.marker
  float: none
  width 32px !important

.left-block
  float left
  display inline-block
  width 230px
  background: #F7F7FC
  border-radius: 20px
  margin-right 10px
  margin-bottom 12px
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto 16px !important
    width 100% !important
    max-width: 230px !important
    min-height: auto !important

.padd
  padding: 12px 24px

.right-block
  float right
  display inline-block
  width 230px
  background: #F7F7FC
  border-radius: 20px
  margin-bottom 12px
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto 12px !important
    width 100% !important
    max-width: 230px !important
    min-height: auto !important


.max-height-auto
  min-height: 217px
  @media screen and (max-width: 600px)
    min-height: auto !important

.line-block 
  border-radius: 24px
  padding 24px 32px
  border 1px solid #ECECED
.box-icon
  float: none
  display block
  max-width: 100px !important
  width 100px !important
  margin 0 auto !important
.top-trader-block
  padding: 24px
  background: #F7F7FC
  border-radius: 24px

.asset
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #2F3749

.name-asset
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #2F3749
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 32px !important

.w100
  width: 100%

.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important

.w167
  width 100%
  max-width 167px
  @media screen and (max-width: 600px)
    min-width 100% !important
    display: block !important
    float none !important
.w208
  width 100%
  max-width 208px

.border-orange
  display inline-block
  border-radius: 12px
  background: #FFEFE0
  padding 6px 16px


.bg-line
  background url('https://fsms.quadcode.com/storage/public/co/2o/5pq85cee2vclvlm0/line.png') center center no-repeat
  background-size contain
  @media screen and (max-width: 600px)
    background none !important
    background-size none !important

.plr1
  padding-left 30px
  padding-right 15px
  @media screen and (max-width: 600px)
    padding-left 15px !important
    padding-right 5px !important

.plr2
  padding-right 15px
  padding-left 15px
  @media screen and (max-width: 600px)
    padding-right 5px !important
    padding-left 5px !important

.plr3
  padding-right 30px
  padding-left 15px
  @media screen and (max-width: 600px)
    padding-right 15px !important
    padding-left 5px !important

.tar
  text-align right

.grey-td
  background #FBFBFB
  border-top 1px solid #F0F0F0

.br-t
  border-top 1px solid #F0F0F0

.br-b
  border-bottom 1px solid #F0F0F0

.br-tr
  border-top-right-radius: 16px
  border-collapse: initial !important

.br-tl
  border-top-left-radius: 16px
  border-collapse: initial !important

.br-br
  border-bottom-right-radius: 16px
  border-collapse: initial !important

.br-bl
  border-bottom-left-radius: 16px
  border-collapse: initial !important

.br-r
  border-right 1px solid #f0f0f0

.br-l
  border-left 1px solid #f0f0f0

table[class="body"] table.columns td.plr1,
table[class="body"] table.columns td.plr2,
table[class="body"] table.columns td.plr3
  @media screen and (max-width: 600px)
    width auto !important

.text.mob-text


.img-box
  float none !important
  max-width 232px !important
  display block !important

.field
  background #ffffff
  padding 16px 22px
  border-radius: 16px
  border 2px solid #E0DFDF

.field-2
  background #ffffff
  padding 16px 22px
  border-radius: 16px
  border 2px dashed #FF7700

.countries-block-new
  width 146px
  display: inline-block
  float: none
  vertical-align: top
  @media screen and (max-width: 600px)
    display block !important
    // width 230px !important
    margin 10px auto 0 !important

.countries-block-new.fisrt-block
  @media screen and (max-width: 600px)
    margin 0px auto 0 !important

.background-arrow
  background url('https://fsms.quadcode.com/storage/public/cu/s6/m8hmsj7jlq1dg7vg/Group 1.png') top 20px center no-repeat
  background-size 186px
  @media screen and (max-width: 600px)
    background none !important
    background-size 0 !important

.block-img
  float: none !important
  display block !important
  margin-left 25px !important
  max-width: 112px !important

.img-left
  width 56px !important
  float: none


.table-title 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #393A44

.bt-dash
  border-top 1px dashed #C7C8CB
  
.gray-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #AAA3C1
.lh-23
  line-height: 23px !important

.brake-word
  word-break: break-word

.box
  padding 32px
  background #F9F9F9
  border-radius 16px
  @media screen and (max-width: 600px)
    padding 20px !important

.box-1
  background #EDDFF2

.box-2
  background #FBE9DB

.box-3
  background #D3E3FB

.box-4
  padding 24px 32px
  border 1px solid #EAE9E9
  border-radius 20px
  @media screen and (max-width: 600px)
    padding 18px 20px !important

.bg-green
  padding-left 48px
  background url('https://fsms.quadcode.com/storage/public/cu/iu/nb9msj7st9h5coqg/icon-1.png') left top no-repeat
  background-size 32px
  @media screen and (max-width: 600px)
    padding-left: 40px !important
    background-size 26px !important

.blue-box
  border-radius: 24px
  border 1px solid #8245EB
  padding 24px 30px

.winner-place
  display inline-block
  padding 8px 16px
  background #E6EEFE
  border-radius: 12px
  text-align center

.digit
  background #EDF0F6
  text-align center
  padding 4px
  border-radius 16px
  width: 46px
  height 46px

table[class="body"] table.columns td.auto
  width auto !important

table[class="body"] table.columns td.w74
  width 74px !important


.number
  width: 56px
  height: 56px
  border-radius: 50%
  border: 2px solid #8245EB
  font-family: Helvetica !important
  color: #413E43
  font-weight: 700
  font-size: 21px
  line-height: 56px
  text-align: center

.m-w-2
  min-width: 76px !important
  width 76px !important

.w-a
  width auto !important
  vertical-align: middle

.m-w
  min-width: 20px !important
  width 20px !important
  vertical-align: top

.bottom-block
  max-width: 345px
  @media screen and (max-width: 600px)
    max-width: 75% !important


.gray-table 
  background: #FFFFFF
  border: 2px solid #EDF0F6
  border-radius: 20px
  padding 32px
  @media screen and (max-width: 600px)
    padding: 20px !important

.left-side 
  display: inline-block
  width 40%
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important

.right-side
  display: inline-block
  width 58%
  vertical-align: top
  float: right 
  @media screen and (max-width: 600px)
    float: none !important
    width 100% !important
    
.center-mobile
  @media screen and (max-width: 600px)
    text-align: center !important
    margin: 0 auto !important
  
.img-flag
  background url('https://fsms.quadcode.com/storage/public/cu/7o/vlt4nhqjshkklg5g/Solana-Perpfuture.png') left center no-repeat
  background-size 48px
  padding-left 64px
  display: inline-block
  @media screen and (max-width: 600px)
    margin 0 auto !important

.asset-name 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #2D323E

.short-asset-name
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #2D323E

.right-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  text-align: right
  color: #2D323E
  @media screen and (max-width: 600px)
    text-align: center !important
  
.small-green-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 24px
  line-height: 28px
  text-align: right
  color: #12A557
  @media screen and (max-width: 600px)
    text-align: center !important

.green-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 32px
  line-height: 48px
  color: #12A557
  text-align: right
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important
    text-align: center !important

//  color: #12A557
.red-imp  
  color: #F23A3A  !important

.left-side-bottom
  display: inline-block
  width 42%
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 100% !important
    
.right-side-bottom
  display: inline-block
  width 43%
  vertical-align: middle
  float right
  @media screen and (max-width: 600px)
    width 100% !important
    float none !important

.arrow
  display: inline-block
  vertical-align: middle
  width 24px 
  padding 0 9px
  @media screen and (max-width: 600px)
    width 1px !important
    max-width: 0.1px !important

.arrow-bottom
  display: inline-block
  vertical-align: middle
  width 1px 
  max-width: 0.1px 
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    padding 10px 0
    width 24px !important
    max-width: 20px !important

.black-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 32px
  line-height: 48px
  color: #393A44
  text-align: left 
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important

.butt-p2
  font-size 18px !important
  padding 18px 4px 20px !important
  color: #2F3749 !important

.div-butt2
  display inline-block
  width 100%
  max-width 280px
  background none
  border 2px solid #8245EB
  border-radius: 12px
  // float none
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    // width 100% !important
    max-width: 100% !important
    // margin-bottom 20px !important
  
.text-center
  text-align: center 
  @media screen and (max-width: 600px)
    text-align: center !important

.expert-block 
  background url('https://fsms.quadcode.com/storage/public/cv/cp/4tpmsj7rr6s51su0/expert-ava.png') left center no-repeat
  background-size 64px
  padding-left 85px
  padding-top 5px
  padding-bottom 5px

.expert-name 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #2F3749
  

.expert-subtitle
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #767F94

.ava
  background url('https://fsms.quadcode.com/storage/public/cv/8o/06hmsj7rr6s51ru0/ques-casa.png') left center no-repeat
  background-size 64px
  padding-left 84px
  padding-top 17px
  padding-bottom 17px

.ava-2
  background url('https://fsms.quadcode.com/storage/public/cv/8q/4kjjqakjdvu1n38g/casa-p.png') left center no-repeat
  background-size 64px
  padding-left 84px
  padding-top 17px
  padding-bottom 17px

.list
  background url('https://fsms.quadcode.com/storage/public/cv/3h/tphmsj7jlq1dg9ig/green.png') left 16px center no-repeat
  background-size 32px
  padding-left 64px
  padding-top 4px
  padding-bottom 4px

.pr-bottom
  padding-right 80px
  @media screen and (max-width: 600px)
    padding-right 0 !important


.casa-ava
  display: block
  float: none
  width 64px !important

.casa-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #3E3752
  padding-bottom 14px

.casa-massage
  display: inline-block
  padding: 24px
  background: #F7F7FC;
  border-radius: 0px 24px 24px 24px
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #3E3752


.casa-answer
  display: inline-block
  padding: 24px
  background: #E1D9FB
  border-radius: 24px 0px 24px 24px
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #3E3752
  width 80%
  @media screen and (max-width: 600px)
    width auto !important

.tar
  text-align: right !important

.fl-r
  float right

.purple-block
  padding: 24px
  background #F7F7FC url('https://fsms.quadcode.com/storage/public/cv/dv/k33jqakhdj8lo51g/container (1).png') center no-repeat
  background-size cover
  border-radius: 16px

.min-width
  max-width: 262px

.purple-block-2
  padding: 24px
  background #F7F7FC url('https://fsms.quadcode.com/storage/public/cv/dv/k33jqakhdj8lo520/container (2).png') center no-repeat
  background-size cover
  border-radius: 16px

.place
  display: inline-block
  padding: 6px 16px
  background: #E8E1FF
  border-radius: 12px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #3E3752


.three-colums
  padding: 32px 0
  border-top 1px solid #D9D9DB
  border-bottom 1px solid #D9D9DB


.w-33
  width 33% !important

.names
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #3E3752
  @media screen and (max-width: 600px)
    font-size: 18px !important
    line-height: 27px !important


.green-under-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #12A557


.bottom-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #3E3752


.footer-text
  font-family: Helvetica !important
  font-weight: 400;
  font-size: 14px;
  line-height: 21px
  color: #474A51
.footer-text a 
  color: #474A51 !important
  text-decoration: underline
