*
  font-family "Helvetica", "Arial", sans-serif !important

html
  background: #F0F0F0

body
  margin: 0 auto !important
  text-align: center !important
  background: #F0F0F0 !important

.block-empty-12
  height 12px
  line-height: 12px
  font-size: 12px
.block-empty-16
  height 16px
  line-height: 16px
  font-size: 16px
.bg-col
  background-color #F0F0F0
 

.bg-head
  background-image: url('https://fsms.quadcode.com/storage/public/co/1v/64i85cee2vclvkt0/Rectangle-1.png') 
  background-repeat: no-repeat
  background-position: top center 
  background-size: 100% 560px


.pt-head
  padding-top 410px
  @media screen and (max-width: 600px)
    padding-top 300px !important
    @media screen and (max-width: 500px)
      padding-top 200px !important

.white-bg
  background: #FFFFFF

.mar12-left
  padding-left: 20px

.mt10
  margin-top 10px

.center
  text-align: center
  margin: 0 auto

table.row.header
  background #f2f3f5
  height: 86px


.logo
  float: none
  max-width 157px
  padding-top: 28px
  padding-bottom: 28px


table.medium-button td
  background: #060A00
  border-radius: 8px !important

table.medium-button-bot td
  background: #060A00
  border-radius: 8px !important
.butt-border
  border: 2px solid #3F3F3F
  border-radius: 12px
.button-wrapper_top
  width 280px
  @media screen and (max-width: 600px)
    width 100% !important

.butt
  font-family: Helvetica !important
  color: #ffffff
  font-size 16px !important
  font-weight 700 !important
  border-radius: 12px !important
  letter-spacing: 1 !important
  padding: 20px 0 20px !important
  text-transform: none !important

.butt-2
  color: #3F3F3F !important
.bg-none

  background none !important

.hello
  font-family: Helvetica !important
  font-weight 700
  font-size: 22px
  color: #373437
  letter-spacing: 0
  line-height: 26px
  word-break: break-word

.mb3
  margin-bottom 3px

.small-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 38px
  letter-spacing: -0.5px
  color: #413E43


.grey-subtitle
  font-family: Helvetica !important
  font-weight: 400
  font-size: 24px
  line-height: 31px
  color: #64636F
  padding-bottom 32px

.label
  display inline-block
  padding: 4px 18px
  background: #EAE9E9
  border-radius: 16px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  letter-spacing: 1px
  color: #413E43

.plys-logo
  display inline-block
  padding: 6px 16px
  border: 2px solid #A8D900
  border-radius: 12px
  vertical-align: middle

.min-logo
  float: none
  width 70px
  display: inline-block
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 30px !important
    max-width: 30px !important

.pr10
  padding-right 18px
  @media screen and (max-width: 600px)
    padding-right 8px !important

.va-top
  vertical-align: top !important

.title-top
  font-family: Helvetica !important
  font-weight: 700
  font-size: 56px
  line-height: 67px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 36px !important
    padding 0 !important
.pt24
  padding-top 24px

.pb24   
  padding-bottom 24px

.bg-top
  background-image: url('https://fsms.quadcode.com/storage/public/co/20/iha85cee2vclvkvg/bg-top.png') 
  background-repeat: no-repeat
  background-position: top 145px center 
  background-size: 654px auto
  @media screen and (max-width: 600px)
    background-size: 0 auto !important
    // background-position: top 94px center !important

.bg-top-1
  background-image: url('https://fsms.quadcode.com/storage/public/co/20/iha85cee2vclvkvg/bg-top.png') 
  background-repeat: no-repeat
  background-position: center 
  background-size: 0
  @media screen and (max-width: 600px)
    background-size: 100% !important

.image-block
  background-image: url('https://fsms.quadcode.com/storage/public/cp/en/b0or041vksckpkig/image.png') 
  background-repeat: no-repeat
  background-position: center right
  background-size: 24px
  width 100%

.image-block-2
  background-image: url('https://fsms.quadcode.com/storage/public/cp/en/b0sds9kt1nhaulmg/link.png') 
  background-repeat: no-repeat
  background-position: center right
  background-size: 24px
  width 100%

.image-block-3
  background-image: url('https://fsms.quadcode.com/storage/public/cp/eq/448r041vksckpklg/bolt-2.png') 
  background-repeat: no-repeat
  background-position: center right
  background-size: 24px
  width 100%
.min-image
  width 180px !important
  float: right 
  @media screen and (max-width: 600px)
    float none !important
    padding-left 15px !important
    margin-bottom 10px !important

  
.step-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 25px
  color: #413E43

.wb-bw
  word-break: break-word

.pr8
  padding-right 8px
  @media screen and (max-width: 600px)
    font-weight: 16px !important
    line-height: 22px !important

.text
  font-family: Helvetica !important
  color: #413E43
  font-size 18px
  font-weight 400
  line-height 27px
  letter-spacing: 0
.small-text  
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #413E43

.text-fat
  font-family: Helvetica !important
  font-weight: 700
  font-size: 20px
  line-height: 30px
  color: #413E43

.text-strong
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 29px
  color: #413E43


.subtitle-min
  font-family: Helvetica !important
  font-weight: 700
  font-size: 26px
  line-height: 26px
  color: #373437

.text.list
  display: list-item


.mb10
  margin-bottom: 10px

.address-text
  color: #333333 !important
  font-size: 14px !important

.pb0
  padding-bottom: 0 !important

.pb3
  padding-bottom: 3px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb12
  padding-bottom: 12px

.pb13
  padding-bottom: 13px

.pb15
  padding-bottom: 15px !important
.pb16
  padding-bottom: 16px 
.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb24
  padding-bottom: 24px
.pb20-mob
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom 0 !important

.pb23
  padding-bottom: 23px


.pb25
  padding-bottom: 25px

.pb26
  padding-bottom: 26px
.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px
.pb32
  padding-bottom: 32px 

.pb32-a
  padding-bottom: 32px    
  @media screen and (max-width: 600px)  
    padding-bottom: 2px !important

.pb35
  padding-bottom: 35px
.pb36
  padding-bottom: 36px
.pb40
  padding-bottom: 40px
  
.pb44
  padding-bottom: 44px  

.pb45
  padding-bottom: 45px

.pb40med
  padding-bottom: 40px
  @media screen and (max-width: 600px)
    padding-bottom 10px !important

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb67
  padding-bottom: 67px

.pb70
  padding-bottom: 70px

.pt0
  padding-top: 0 !important

.pt3
  padding-top: 3px

.pt4
  padding-top: 4px


.pt5
  padding-top: 5px

.pt10
  padding-top: 10px
.pt12
  padding-top: 12px  
.pt14
  padding-top: 14px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px
.pt24
  padding-top: 24px
.pt25
  padding-top: 25px


.pt29
  padding-top: 29px

.pt32
  padding-top: 32px

.pt17
  padding-top: 17px


.pt20-big
  padding-top: 20px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt30
  padding-top: 30px
.pt35
  padding-top: 35px
.pt37
  padding-top: 37px

.pt40
  padding-top: 40px
.pt40-a   
  padding-top: 40px
  @media screen and (max-width: 600px)  
    padding-top: 5px !important
.pt44
  padding-top: 44px
.pt45
  padding-top: 44px

.pt45med
  padding-top: 45px
  @media screen and (max-width: 600px)
    padding-top 0 !important

.pt50
  padding-top: 50px

.pt50-a
  padding-top: 10px
  @media screen and (max-width: 600px)
    padding-top 0 !important

.pt7
  padding-top 7px

.pt60
  padding-top: 60px

.pt70
  padding-top: 70px

.pt74
  padding-top: 74px

.pt16
  padding-top: 16px
.plr60
  padding-left: 60px
  padding-right: 60px
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important
.plr12
  padding-left: 12px
  padding-right: 12px
  
.plr10
  padding-left: 10px
  padding-right: 10px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important
    
.plr20
  padding-left: 20px
  padding-right: 20px

.plr50
  padding-left: 50px
  padding-right: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 8px !important
    padding-right: 8px !important

.plr20-a
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.plr38
  padding-left: 38px
  padding-right: 38px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important


.plrS30
  padding-left: 30px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 100px !important
    padding-right: 50px !important

.plr40
  padding-left: 40px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl20
  padding-left: 20px

.border-top
  border-radius: 3px  3px 0 0

.border-bottom
  border-radius: 0 0 3px  3px

p.warning
  text-align: left
  color: #404042 !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #404042
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important
  line-height: 22px;

.address-text
  color: #404042!important
  font-size: 14px !important
  text-align: center

.subscribe
  text-align: left !important
  padding-top: 20px

.mobile-paddding
  padding 20px 100px 0
  @media screen and (max-width: 600px)
    padding: 30px 20px 0 20px !important

div.address
  padding 20px 30px 0 30px !important

.brad-bot
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px

.item-img-i
  width 56px

.sub-title
  font-family: Helvetica !important
  font-weight 700
  font-size: 24px
  color: #222327
  letter-spacing: 0
  line-height: 32px

.padding
  @media screen and (max-width: 600px)
    padding 0 50px

.mobile-paddding
  padding 20px 50px 0
  //text-align: center
  @media screen and (max-width: 600px)
    padding: 20px 20px 0 20px !important

.copyright
  font-family: Helvetica !important
  color: #222327;
  font-size: 14px
  line-height: 26px
  font-weight: 400

a.terms
  color: #474A50
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important
  text-decoration: underline
  display: inline-block
  margin: 0 10px


.faq
  width: 230px
  display: block
  @media screen and (max-width: 600px)
    float: none !important
    margin: 0 auto !important

.footer-text
  font-family: Helvetica !important
  font-size: 14px
  color: #373437
  letter-spacing: 0
  line-height: 22px

.footer-text a 
  text-decoration underline
  color: #4E4A51

.big
  font-weight 700


.fl
  float left

.fr
  float right

.w45
  width 48%
  @media screen and (max-width: 600px)
    width 100% !important

.w180
  width 175px
  @media screen and (max-width: 600px)
    margin 0 auto !important
    idth 150px !important

.w130
  width 145px
  @media screen and (max-width: 600px)
    margin 0 auto !important
    width 180px !important

.pl25
  padding-left 25px !important


.social-links
  display: block
  text-align: center

.soc-link
  display: inline-block
  float: none
.mar12
  padding-left 20px
  padding-right 20px

.soc
  display: inline-block
  float: none
  max-width: 50px

.br-full-16
  border-radius 16px
  -moz-border-radius 16px
  -webkit-border-radius 16px

.br-bot
  border-radius 0 0 16px 16px

table.medium-button-two td
  background: none
  border-radius: 3px !important

.bg-bord-full
  border 1px solid #eae9e9

b
  font-family Helvetica !important


.bt-dash
  border-top 1px dashed #C4CBBA

.bb-dash
  border-bottom: 1px dashed #C4CBBA

.list-item
  background: url('https://fsms.quadcode.com/storage/public/cq/f1/ogmdi3umufautkkg/Ellipse1.png') left 4px top 10px no-repeat
  background-size: 6px
  padding-left 20px

.text a
  font-family: Helvetica !important
  text-decoration none !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #6a8a00 !important

.socials
  display: block
  font-size: 0
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.first-link
  margin-left: 0
  @media screen and (max-width: 600px)
    margin-left: 10px !important

.last-link
  margin-right: 0
  @media screen and (max-width: 600px)
    margin-right: 10px !important

.soc-icon
  float: none
  max-width: 40px

.countries-block-new.fisrt-block
  @media screen and (max-width: 600px)
    margin 0px auto 0 !important

.mar-mob
  margin 0 10px

.padding
  padding 24px

.asset-image
  float: none
  width 40px !important
  padding-bottom 32px
.w-hulf
  width 50% !important

.w100
  width 100% !important  

.w-a
  width auto !important
  vertical-align: middle
  padding-bottom 0 !important

.pt7
  padding-top 7px

.m-w  
  min-width 60px

.block-small
  height 6px
  font-size: 6px
  line-height: 6px

.big-text 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 38px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important


.small-blue
  font-size: 36px !important
  line-height: 47px !important

.fw-min
  font-size: 15px !important

.fw-min-blue
  font-size: 48px !important

.left-block 
  display: inline-block
  width: 230px
  border-radius: 24px
  margin-right 10px
  vertical-align: top
  @media screen and (max-width: 600px)
    margin-right 0 !important
    width 100% !important
    margin-bottom 20px !important
    min-height auto !important

.grey-img
  width 110px 
  padding 34px
  @media screen and (max-width: 600px)
    width 80px !important

.under-img    
  background: #F9F9F9
  border-radius: 24px

.pdd
  padding: 24px

.big-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 72px
  line-height: 72px
  color: #E0DFDF
  @media screen and (max-width: 600px)
    font-size: 32px !important
    line-height: 32px !important

.right-block
  display: inline-block
  width: 230px
  border-radius: 24px
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important
    min-height auto !important

.min-grey
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #7F7F7F

.blocks-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 25px
  color: #413E43

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.green-block
  padding: 32px
  background: #EEFFD6
  border-radius: 16px

.blocks
  width 147px
  display: inline-block
  margin-top 12px
  vertical-align: top

.plr15 
  padding-left 13px
  padding-right 13px

.text-under-img
  padding-top 16px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 22px
  text-align: center
  color: #413E43
  padding-left: 10px
  padding-right 15px
  
.blocks-img
  width 148px !important
  float: none

.grey-blocks
  display: inline-block 
  width 142px !important
  background: #F6F6F6
  border-radius: 24px
  padding 24px 0
  margin-bottom 12px

.small-img
  float: none
  width 56px !important
  padding-bottom: 24px

.center-margin 
  margin: 0 10px !important

.subtitle-big
  font-family: Helvetica !important
  font-weight: 700
  font-size: 20px
  line-height: 28px
  color: #413E43


table[class="body"] table.columns td.plr1,
table[class="body"] table.columns td.plr2,
table[class="body"] table.columns td.plr3
  @media screen and (max-width: 600px)
    width auto !important


.grey-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 25px
  color: #A19FA7

.grey-block
  background: #F5F5F7
  border-radius: 20px
  padding 30px 29px
.green-block
  padding: 24px 32px
  background: #EEFFD6
  border-radius: 16px

.small-grey-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 25px
  color: #413E43
  padding-bottom 16px    

.plr1
  padding-left 30px
  padding-right 10px
  @media screen and (max-width: 600px)
    padding-left 15px !important
    padding-right 5px !important

.plr2
  padding-right 10px
  padding-left 10px
  @media screen and (max-width: 600px)
    padding-right 5px !important
    padding-left 5px !important

.plr3
  padding-right 30px
  padding-left 10px
  @media screen and (max-width: 600px)
    padding-right 15px !important
    padding-left 5px !important
.w100
  width 100% !important
  // border-radius: 16px
  // border 1px solid #F0F0F0
  border-collapse: initial !important      


.tar
  text-align right

.grey-td
  background #FBFBFB
  border-top 1px solid #F0F0F0

.br-t
  border-top 1px solid #F0F0F0

.br-b
  border-bottom 1px solid #F0F0F0
.br-f
  border 1px solid #F0F0F0
.br-tr
  border-top-right-radius: 16px
  border-collapse: initial !important
.br-tb
  border-top 1px solid #F0F0F0
  border-bottom: 1px solid #F0F0F0
.br-ltb
  border-top 1px solid #F0F0F0
  border-left 1px solid #F0F0F0
  border-bottom:  1px solid #F0F0F0
  border-radius: 16px 0 0 16px
.br-rtb
  border-top 1px solid #F0F0F0
  border-right 1px solid #F0F0F0
  border-bottom:  1px solid #F0F0F0
  border-radius:  0 16px 16px 0  
.br-tl
  border-top-left-radius: 16px
  border-collapse: initial !important

.br-br
  border-bottom-right-radius: 16px
  border-collapse: initial !important

.br-bl
  border-bottom-left-radius: 16px
  border-collapse: initial !important

.br-r
  border-right 1px solid #f0f0f0

.br-l
  border-left 1px solid #f0f0f0
.br-f
  border-radius: 16px
  border-collapse: initial !important

.bg-gr-1
    background: #F5F5F7 url('https://fsms.quadcode.com/storage/public/co/1u/eoi85cee2vclvkr0/calendar-time.png') top 24px right 32px no-repeat
    background-size: 24px

.bg-gr-2
    background: #F5F5F7 url('https://fsms.quadcode.com/storage/public/co/1u/eoi85cee2vclvkrg/clipboard-text.png') top 24px right 32px no-repeat
    background-size: 24px    
.subtitle-big
  font-family: Helvetica !important
  font-weight: 700
  font-size: 20px
  line-height: 28px
  color: #413E43

.plr1
  padding-left 30px
  padding-right 10px
  @media screen and (max-width: 600px)
    padding-left 15px !important
    padding-right 5px !important

.plr2
  padding-right 10px
  padding-left 10px
  @media screen and (max-width: 600px)
    padding-right 5px !important
    padding-left 5px !important

.plr3
  padding-right 30px
  padding-left 10px
  @media screen and (max-width: 600px)
    padding-right 15px !important
    padding-left 5px !important    

.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important    

.gray-blodck-big
  padding: 32px
  background: #F5F5F7
  border-radius: 20px
  background-image: url('https://fsms.quadcode.com/storage/public/cq/ae/146fu8jqbm9856f0/Frame 2.png')   
  background-repeat: no-repeat
  background-position: center 
  background-size: cover

.top-block  
  max-width: 232px

.gray-left-block
  display: inline-block
  background: #F5F5F7
  border-radius: 20px
  width 230px
  background-image: url('https://fsms.quadcode.com/storage/public/cq/ae/146di3umufautjhg/Frame 3.png')   
  background-repeat: no-repeat
  background-position: center 
  background-size: cover
  min-height: 290px
  @media screen and (max-width: 600px)
    width 100% !important
    display block !important
    margin-bottom 16px !important
    height auto !important
    min-height: auto !important

.pd32-a
    padding: 32px
    @media screen and (max-width: 600px)
      padding-bottom 90px !important

.gray-right-block  
  display: inline-block
  background: #F5F5F7
  border-radius: 20px
  width 230px
  float right 
  background-image: url('https://fsms.quadcode.com/storage/public/cq/ae/146di3umufautjh0/Frame 4.png')   
  background-repeat: no-repeat
  background-position: center 
  background-size: cover
  min-height: 290px
  @media screen and (max-width: 600px)
    width 100% !important
    display block !important
    float: none !important
    height auto !important
    min-height: auto !important

.img-bloick
  float: none
  width 44px