*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px


table.row.header
  background #f6f9fc url('https://images01.iqoption.com/01/5201/static-00115704862028595201.png') center top no-repeat
  height: 113px

table.body
  background: #f6f9fc

.center
  text-align: center

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.logo
  max-width 134px
  padding-left: 50px
  padding-top: 30px
  padding-bottom: 30px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    float: none !important
    text-align: center !important
    margin: 0 auto !important
    padding-top: 20px !important

.app_btn
  width: 116px
  height: 34px
  padding-top: 30px

.ramka
  border 1px solid #c5c5c5
  border-radius 5px
  margin: 0 30px

.subscribe
  color: #a6a6a6 !important

.subscribe a#font, .subscribe a.light
  color: #a6a6a6 !important

.footer
  background: #f6f9fc
  padding-bottom: 30px
  
table.medium-button td
  background: #FF5500

.butt
  font-size: 18px !important
  color: #ffffff
  letter-spacing: 0
  padding: 23px 0 19px
  border-bottom: 5px solid #B1420A
  border-radius: 4px
  text-transform: uppercase

.button-wrapper
  padding-top: 15px
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important
    
.white-bg
  background: #ffffff

.title
  font-family: Arial !important
  color #F16722
  font-size 24px
  font-weight 500
  line-height 32px
  padding-top: 30px
  padding-bottom: 25px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text
  font-family: Arial !important
  color #5b6e88
  font-size 16px
  font-weight 400
  line-height 26px
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text a
  color #0B8BD8
  text-decoration: underline

.orange-text
  font-family: Arial !important
  color: #FF5500
  font-weight: 500
  font-size: 20px
  line-height: 30px

.grey-text
  font-family: Arial !important
  color: #6E829A
  font-size: 16px
  line-height: 24px
  font-weight: 400
  a
    color: #0B8BD8
    text-decoration: underline

.blue-text
  font-family: Arial !important
  color: #2C89DF
  font-size: 24px
  line-height: 32px
  font-weight: 700

.icon-text
  padding-left: 80px
  @media screen and (max-width: 600px)
    padding-left: 50px !important

.icon-text_1
  background: url('https://images01.iqoption.com/57/5857/static-02566133645999865857.png') left top 10px no-repeat
  background-size: 53px auto
  @media screen and (max-width: 600px)
    background-size: 40px auto !important

.icon-text_2
  background: url('https://images01.iqoption.com/89/3089/static-03344689742204633089.png') left top 10px no-repeat
  background-size: 42px auto
  @media screen and (max-width: 600px)
    background-size: 35px auto !important

.asterisk
  color #5b6e88
  font-size 14px
  font-weight 400
  line-height 22px
  padding-bottom: 20px

.text.bold
  font-weight: 700

p.discription
  text-align: left
  color: #a6a6a6 !important
  padding: 19px
  font-size: 12px
  line-height: 16px

p.discription .upper
  color #a6a6a6
  font-size 15px
  font-weight 500
  text-align: left
  text-transform: none
  padding-bottom: 10px
  display: block

.address-text
  color #a6a6a6 !important
  
.footer
  background: #ffffff

.pb0
  padding-bottom: 0

.pb20
  padding-bottom: 20px

.pb30
  padding-bottom: 30px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.blue-block
  background: #F7FBFF
  border-radius: 7px
  padding: 20px
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important

.list
  display: list-item
  padding-left: 0
  list-style-position inside

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important
