*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #F9F9F9 
  width: 100%
  max-width: 100%
.black
  background: url('https://fsms.quadcode.com/storage/public/cn/av/vha03qqv4qln7rfg/undersoc-22.png') center no-repeat
  background-size 100%
  padding 20px
  border-radius: 10px

.under-logo
  display: block
  float: none
  width 480px
  background-color: #F9F9F9
  border-radius: 16px

.border-full
  border-radius 16px

.w245
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important

.w100
  width 100%
.bgr
  background: #f5f9ff url(https://fsms.quadcode.com/storage/public/ci/1h/4r6gbu954ogkdu5g/banner-1.png) center top 70px no-repeat;
  background-size: 684px auto;
  @media screen and (max-width: 600px)
    background-size: 100% !important

body
  margin: 0 auto !important
  text-align: center !important
.vam
  vertical-align: middle !important
table.row.header
  background #F9F9F9
  height: 86px

.bg-side
  background:#181E2D
  border-radius: 10px

.pb28  
  padding-bottom: 28px

.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important

.brad-bot
  border-bottom-left-radius 3px !important
  border-bottom-right-radius 3px !important

table.body-2
  background: #141822
  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  // border-bottom: 1px dashed #C0E3FE
  border-top: 1px dashed #C0E3FE
.bb-dash
  // border-bottom: 1px dashed #C0E3FE
  border-bottom: 1px dashed #D9D9DB
.blue-color
  color #1836CE !important
.blue-span
  color #299EF6 
  
.gray-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #84868B
.brad-full
  border-radius 16px !important
.butt
  background #0B79CC
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto
.butt-link
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #ffffff
  display block
  padding: 16px 0 16px
  text-align center
.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.arrow-block
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding 0 8px 0 4px

.blue-text-asset
  display: inline-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 25px
  letter-spacing: -0.25px
  color: #0081E3

.blue-small-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 24px
  text-align: center
  color: #33A6FE
  padding-bottom 4px

.whote-text  
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  text-align: center
  color: #FFFFFF

.icon
  float: none;
  display inline-block
  max-width 40px

.country-block 
  display: inline-block
  background: #1F3B50
  border: 1px solid #33A6FE
  border-radius: 7px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFFFFF
  padding: 4px 12px


.white-bg
  background: #ffffff
.blue-bg
  background #181E2D
.subtitle
  color: #393A44;
  font-size: 32px
  line-height: 42px
  font-family: Helvetica !important
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important 


.title
  font-family: Helvetica !important
  color: #393A44
  font-size: 48px
  line-height: 58px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 40px !important
    line-height: 54px !important
  @media screen and (max-width: 420px)
    font-size: 36px !important
    line-height: 50px !important 

.under-img
  width 480px
  float none
  background-color: #F9F9F9
  border-radius: 16px

.title-2
  font-family: Helvetica !important
  color: #293753
  font-size: 30px
  line-height: 40px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 34px !important
  @media screen and (max-width: 420px)
    font-size: 26px !important
    line-height: 32px !important 

.title-blitz
  font-family: Helvetica !important
  color: #323C47
  font-size: 24px
  line-height: 30px
  font-weight: 400
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 26px !important

.title-btm
  color #323C47
  font-family: Helvetica !important
  font-size: 40px
  line-height: 50px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 30px !important
    line-height: 40px !important

.block_35_00
  color: #3EEC99 !important
.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 36px
  color: #27282D
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 32px !important

.text
  font-family: Helvetica !important
  color: #413E43
  font-size 18px
  font-weight 400
  line-height 26px
  @media screen and (max-width: 600px)
    font-size 16px !important
    line-height 24px !important

.fs18
    font-size 18px !important
.text-white
  color: #FFFFFF !important
.text.bold
  font-weight: 700

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #293753 !important
  font-size: 14px !important

.subscribe
  text-align: left !important
  padding-top: 20px


a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.div-8
  font-size 6px
  line-height 8px
  height 8px

.div-20
  font-size 8px
  line-height 20px
  height 20px

.div-12
  font-size 8px
  line-height 12px
  height 12px

.div-16
  font-size 8px
  line-height 16px
  height 16px

.div-30
  font-size 8px
  line-height 30px
  height 30px

.pb0
  padding-bottom: 0
.pb4
  padding-bottom: 4px
.pb10
  padding-bottom: 10px
.pb13
  padding-bottom: 13px
.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb24
  padding-bottom: 24px

.pb25
  padding-bottom: 25px
.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px
.pb70
  padding-bottom: 70px
.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0

.pt8
  padding-top 8px

.pb4
  padding-bottom 4px

.pb8
  padding-bottom 8px

.pt10
  padding-top: 10px

.pt12
  padding-top: 12px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt24
  padding-top: 24px

.pt25
  padding-top: 25px
.pt28
  padding-top: 28px
.pt32
  padding-top: 32px
.pt30
  padding-top: 30px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px
.pt44
  padding-top: 44px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px
    
.plr20
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: 600px)
    padding-left: 0px !important
    padding-right: 0px !important

.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl22
  padding-left: 22px
  @media screen and (max-width: 600px)
    padding-left 18px !important

.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important

.under
  text-decoration: underline
.mob-center
  @media screen and (max-width: 600px)
    text-align center !important
.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important

.link 
  text-decoration underline !important
  color #4575FE !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 40px

.social-links
  display: block
  text-align: center
  margin 0 auto

.countries-block-new
  width 146px
  display: inline-block
  float: none
  vertical-align: top
  @media screen and (max-width: 600px)
    display block !important
    // width 230px !important
    margin 10px auto 0 !important

.countries-block-new.fisrt-block
  @media screen and (max-width: 600px)
    margin 0px auto 0 !important
.background-arrow
  background url('https://fsms.quadcode.com/storage/public/cu/s6/m8hmsj7jlq1dg7vg/Group 1.png') top 20px center no-repeat
  background-size 186px
  @media screen and (max-width: 600px)
    background none !important
    background-size 0 !important
.block-img
  float: none !important
  display block !important
  margin-left 25px !important
  max-width: 112px !important
.bw
  word-break: break-word
.pt12
  padding-top: 12px
.ig
  max-width 20px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 24px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important

table[class="overbody"] table.columns td.td-icon
  @media screen and (max-width: 600px)
    width: 30px !important
    padding-right: 15px !important

.banner 
  width: 100% !important
  max-width 480px !important
  margin 0 auto !important
  float: none !important
  display block !important

.mar-mob
  margin 0 16px

.mob-text
  @media screen and (max-width: 600px)
    font-size 18px !important
    line-height 24px !important

.stor
  width 100% !important
  max-width: 450px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding 10px 12px
  max-width 155px
  height 50px !important
  float: none !important
  // @media screen and (max-width: 600px)
    // display block !important
    // padding-right 0 !important
    // float none !important
    // margin-bottom 15px
    // margin 0 auto !important
    // padding-bottom 15px !important

.a-google
  display inline-block
  padding 10px 12px !important
  max-width 215px !important
  height 52px !important
  float: none !important
  // @media screen and (max-width: 600px)
    // display block !important
    // float none !important
    // margin 0 auto !important

.h-6
  font-size 4px
  line-height 6px
  height 6px

.h-30
  font-size 8px
  line-height 30px
  height 30px

.digit
  border-radius: 82px
  border: 3px solid #0B79CC
  width: 60px
  height 60px
  font-family: Helvetica, sans-serif !important
  font-size 24px
  line-height 58px
  color #413E43
  font-weight 700
  text-align center
  @media screen and (max-width: 600px)
    width 50px !important
    height 50px !important
    line-height 48px !important

.blue-block
  font-family: Helvetica, sans-serif !important
  font-size 26px
  line-height 24px
  color #0B79CC
  font-weight 700
  text-align center

.border-block
  border-radius: 20px
  border 1px solid #EAE9E9
  padding 24px 32px

table[class="body"] table.columns td.list
  @media screen and (max-width: 600px)
    width auto !important

// table[class="body"] table.columns td.w65
//   width 65px !important
//     @media screen and (max-width: 600px)
//       width 65px !important

table[class="body"] table.columns td.w65
  width 65px
  @media screen and (max-width: 600px)
    width 55px !important

.box
  border-radius: 24px
  border 1px solid #0B79CC
  padding 24px
.w-a
  width auto !important
  align-items: top !important

.m-w 
  min-width: 78px !important
  width 78px !important
  max-width 78px !important
.bg-green-arrow
  background url('https://fsms.quadcode.com/storage/public/cu/lj/mdrjqakjdvu1mul0/icon-1.png') no-repeat right center
  background-size 36px
  min-height 36px

.pb16
  padding-bottom 16px

.pb32
  padding-bottom 32px

.level
  display inline-block
  font-family: Helvetica !important
  font-size 16px
  line-height 24px
  font-weight 700
  color #2B2D36
  padding 8px 16px
  border-radius 12px
  background #E8F4FD

.left-box
  display inline-block
  vertical-align middle
  float left

.right-box
  display inline-block
  vertical-align middle
  float right


.grey-number
  font-family: Helvetica !important
  font-size: 12px
  color: #827d7d
  letter-spacing: 0
  padding-bottom 14px
  line-height 14px
.number
  display: inline-block
  background-color: #E4ECF4
  border-radius: 16px
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 54px
  color: #393A44
  padding 0 13px
.winner-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #393A44
  word-break: break-word
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 29px !important


.gray-box
  padding: 24px
  background: #f7f7fc
  border-radius: 24px


.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important