*
  font-family "Helvetica", "Arial", sans-serif !important

.vam
  vertical-align middle !important


.butt-td
  padding: 0 !important

body
  margin: 0 auto !important
  text-align: center !important

table.body
  background: #F5F5F5
  
.white-bg
  background: #ffffff

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto


  border-bottom: 2px solid #F5F5F5

.nopoint
  cursor: default !important
  display: block

.img100
  float: none
  display: block
  width: 100%

.bgr
  background: #05081A url('https://static.cdnpub.info/files/storage/public/5f/5a/04ff46ded8g4b5c0f1/bg.png') center top no-repeat
  background-size: cover
  height: 586px
  min-height: 586px
  padding-top: 0
  @media screen and (max-width: 600px)
    height: auto !important

.logo
  float: none
  max-width 167px
  height: 20px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.header-soc
  float: right
  @media screen and (max-width: 600px)
    padding-right: 20px !important
  a
    display: inline-block
    margin-left: 20px
    @media screen and (max-width: 600px)
      margin-left: 15px !important

.ig
  max-width: 15px
  float: none
.tw
  max-width: 19px
  float: none
.yt
  max-width: 22px
  float: none
.fb
  max-width: 15px
  float: none

.title
  color: #FFFFFF
  font-size: 40px
  line-height: 48px
  font-weight: 700
  font-family: Helvetica !important
  padding-top: 292px
  padding-bottom: 8px
  @media screen and (max-width: 600px)
    font-size: 30px !important
    line-height: 38px !important
  .red
    color: #FF4447 !important
    font-family: Helvetica !important

.black-title
  color: #2A3554
  font-size: 36px
  line-height: 48px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 30px !important
    line-height: 40px !important

.black-sub
  color: #2A3554
  font-size: 24px
  line-height: 29px
  font-weight: 700
  font-family: Helvetica !important

.text
  font-family: Helvetica !important
  color #293455
  font-size 16px
  font-weight 400
  line-height 24px

.text a
  color: #0074CC
  font-family: Helvetica !important
  
.block-head
  background: url('https://static.cdnpub.info/files/storage/public/5f/5a/1c0a7ff4f0j2e1f7e7/liner.png') right center no-repeat
  -webkit-background-size: 100%
  background-size: 100%

.block-name
  background: #FFFFFF
  font-size: 24px
  line-height: 29px
  font-weight: 700
  color: #2A3554
  font-family: Helvetica !important
  display: inline-block
  vertical-align: middle
  padding-right: 15px

.icon
  display: inline-block
  vertical-align: text-bottom
  float: none
  padding-right: 11px

.icon_1
  max-width: 27px

.icon_2
  max-width: 24px
  vertical-align: baseline

.icon_3
  max-width: 17px
  vertical-align: bottom

.icon_4
  max-width: 27px
  vertical-align: baseline

.icon_5
  max-width: 24px
  vertical-align: baseline

.redish b
  color: #FF4341
  font-weight: 700
  font-family: Helvetica !important

.list
  display: list-item
  list-style: disc
  list-style-position: outside
  font-weight: 700
  color: #FE4547

.list-text
  color #293455
  font-weight: 400
  font-family: Helvetica !important

.white-text
  color: #FFFFFF
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important
  a
    color: #ffffff !important
    text-decoration: underline

.item
  display: block
  overflow: hidden
  font-size: 0 !important

.item-img
  display: inline-block
  vertical-align: middle
  float: none
  max-width: 130px
  padding-right: 20px
  @media screen and (max-width: 600px)
    display: block !important
    padding-bottom: 10px !important
    padding-right: 0 !important
    margin: 0 auto !important

.item_right
  display: inline-block
  vertical-align: middle
  max-width: 325px
  @media screen and (max-width: 600px)
    display: block !important
    max-width: 100% !important

.item-title
  color: #2A3554
  font-size: 24px
  line-height: 29px
  font-weight: 700
  font-family: Helvetica !important
  padding-bottom: 8px

.item-text
  color: #697189
  font-size: 14px
  line-height: 21px
  font-weight: 400
  font-family: Helvetica !important
  
.red-link
  color: #FF2C2F
  font-family: Helvetica !important
  font-size: 14px
  line-height: 17px
  font-weight: 700
  letter-spacing: 1px
  margin-bottom: 30px
  float: none
  display: block

.arr
  display: inline-block
  float: none
  vertical-align: middle
  max-width: 6px
  padding-right: 6px
  padding-bottom: 2px

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

table.medium-button td
  background: #FF2C2F
  border-radius: 3px !important

.butt
  color #FF2E29
  font-size 14px !important
  font-weight 700 !important
  border-radius: 27px !important
  border: 1.5px solid #E62335
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 18px 0 17px !important
  font-family: Helvetica !important

.left-side
  display: inline-block
  width: 60%
  max-width: 280px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width: 100% !important
    display: block !important

.right-side
  display: inline-block
  width: 40%
  padding-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    display: block !important
    padding-left: 0 !important
    padding-top: 20px !important

p.warning
  text-align: left
  color: #7E859A !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  padding-bottom: 15px
  font-weight: 400

p.warning .upper
  color #525D78
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 8px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #7E859A !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400

.subscribe
  text-align: left !important
  padding-top: 20px

.mobile-paddding
  padding: 25px 50px 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

a.left
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: left
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt30-big
  padding-top: 30px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pl20
  padding-left: 20px

.mtb30
  margin-top: 30px
  margin-bottom: 30px

.mtb20
  margin-top: 20px
  margin-bottom: 20px

.mtb15
  margin-top: 15px
  margin-bottom: 15px